<div class="left-section">
  <div class="orange-nav-box-container">
    <ul class="orange-nav-box-wrapper">
      <li class="orange-box-text">
        <a class="active" href="/about/profile"
          >Institute Profile</a
        >
      </li>
      <li class="orange-box-text">
        <a href="/about/vision-mission">Vision & Mission</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/objectives">SSET Objectives</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/recogonition-affiliation">Recogonition & Affiliation</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/management">Management</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/director-message">Director’s Profile & Message</a>
      </li>

      <li class="orange-box-text">
        <a href="/about/principal-message">Principal’s Profile & Message</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/salient-features">Salient Features</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/awards-accolades">Awards & Accolades</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/grievance-redressal-committee">Grievance Redressal Committee</a>
      </li>
      <li class="orange-box-text"><a href="/about/iqac-committee">IQAC Committee</a></li>

      <li class="orange-box-text">
        <a href="/about/internal-complaints-committee">Internal Complaints Committee</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/scst-monitoring">SC/ST Monitoring Committee</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/Regulations-Antiragging">Regulations & Directives- Antiragging</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/aicte-essentials">AICTE Essentials</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/accreditation">Accreditation</a>
      </li>
      <li class="orange-box-text">
        <a href="/about/policy-documents">Policy Documents</a>
      </li>
    </ul>
  </div>
</div>
