<header>
    <div class="header-wrapper">
        <div class="header-logo-wrapper">
            <div class="logo-img-wrapper"><img src="/images/logo.svg" alt="" class="logo-img"></div>
            <h1 class="logo-text">logo</h1>
        </div>

        <div class="header-nav-container">
            <ul class="haeder-nav-wrapper">

                <li class="header-nav-elements menu-icon"><a href=""><i class="fa-solid fa-bars"></i></a></li>
                <li class="header-nav-elements"><a href="/">Home</a></li>
                <li class="header-nav-elements"><a href="">About Us</a></li>
                <li class="header-nav-elements"><a href="/departments">Departments</a></li>
                <li class="header-nav-elements"><a href="/academics">Academics</a></li>
                <li class="header-nav-elements"><a href="">Naac</a></li>
                <li class="header-nav-elements"><a href="/placements">Placements</a></li>
                <li class="header-nav-elements"><a href="/campus">Campus</a></li>
                <li class="header-nav-elements"><a href="">Research</a></li>
                <li class="header-nav-elements"><a href="">News</a></li>
                <!-- <li class="header-nav-elements"><a href="">Campus Life</a></li> -->
                <li class="header-nav-elements"><a href="">Admission</a></li>
                <li class="header-nav-elements"><a href="/alumni">Alumini</a></li>
                <li class="header-nav-elements"><a href="">Login</a></li>
            </ul>
        </div>
    </div>
</header>