<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/academics/academics.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="banner-academics">
        <img class="banner-academics-img" alt="Academics" src="/images/banner_academics.png" />
        <h1 class="hero-text">ACADEMICS</h1>
    </div>


    <div class="content-wrapper">

        <div class="left-section">
            <div class="orange-nav-box-container">
                <ul class="orange-nav-box-wrapper">
                    <li class="orange-box-text"><a class="active" href="">Academics</a></li>
                    <li class="orange-box-text"><a href="">Apply Online</a></li>
                    <li class="orange-box-text"><a href="">News & Events</a></li>
                    <li class="orange-box-text"><a href="">Departments</a></li>
                    <li class="orange-box-text"><a href="">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="right-section">
            <div class="white-box-container">
                <div class="white-box-wrapper">
                    <div class="academics-intro">
                        <p style="text-align:center start">
                            The SCMS School of Engineering & Technology (SSET), is the first engineering college in the
                            self-finance
                            scheme to offer basic branches
                            like Civil Engineering, Mechanical Engineering and Electrical
                            Engineering right from the first year of establishment of the
                            institution. Over the years it has added more courses in Electronics and
                            Communication, Computer Science, Automobile Engineering at the B.Tech
                            level and MCA and M.Tech at the post graduate level.
                            <br>
                            <br>
                            SSET has a total sanctioned intake capacity of 660 students in six branches of B.Tech,
                            132 students in six branches of M.Tech and 60 students of MCA. SSET,
                            already recognized as a centre of excellence, offers courses in
                            traditional engineering as well as technology-based disciplines.
                        </p>

                    </div>

                    <div class="btech">
                        <table style="align-items: center" class="styled-table">
                            <thead>
                                <tr>
                                    <th style="text-align: center">B.Tech</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th style="color: black; text-align: center; background-color: white;">
                                        SSET offers B.Tech programmes with an intake capacity as given below:
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border: none;">
                                    <td>B.Tech Computer Science and Engineering - 180</td>
                                </tr>
                                <tr>
                                    <td>B.Tech Electronics & Communication Engineering - 60</td>
                                </tr>
                                <tr>
                                    <td>B.Tech Mechanical Engineering - 60</td>
                                </tr>
                                <tr>
                                    <td>B.Tech Electrical & Electronics Engineering - 30</td>
                                </tr>
                                <tr>
                                    <td>B.Tech Civil Engineering - 60</td>
                                </tr>
                                <tr>
                                    <td>B.Tech in Civil and Environmental Engineering - 30</td>
                                </tr>
                                <tr>
                                    <td>B.Tech Automobile Engineering - 60</td>
                                </tr>
                                <tr>
                                    <td>B.Tech in Computer Science and Engineering(Data Science) - 60</td>
                                </tr>
                                <tr>
                                    <td>B.Tech in Computer Science and Engineering(Artificial Intelligence) - 30</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h4 style="text-align: center; font-size: medium; font-weight: normal;">
                            All the above B.Tech programmes are of four year duration (eight semesters). End semester
                            examinations are conducted by the <br><b>APJ Abdul Kalam Technological University (KTU),
                                Trivandrum.</b></h4>
                    </div>
                    <br>
                    <br>
                    <div class="mtech">
                        <table style="align-items: center" class="styled-table">
                            <thead>
                                <tr>
                                    <th style="text-align: center">M.Tech</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th style="color: black; text-align: center; background-color: white;">
                                        SSET offers M.Tech programmes with an intake capacity as given below: </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border: none;">
                                    <td>CIVIL ENGINEERING</td>
                                </tr>
                                <tr style="background-color: white; border: none;">
                                    <td>M.Tech in Computer Aided Structural Engineering - 18 <br>
                                        M.Tech in Environmental Engineering - 24</td>
                                </tr>
                                <tr style="border: none;">
                                    <td>MECHANICAL ENGINEERING</td>
                                </tr>
                                <tr style="background-color: white; border: none;">
                                    <td>M.Tech in Production and Industrial Engineering -18
                                </tr>
                                <tr style="border: none;">
                                    <td>COMPUTER SCIENCE & ENGINEERING</td>
                                </tr>
                                <tr style="background-color: white; border: none;">
                                    <td>M.Tech in Computer Science and Information System -18
                                </tr>
                                <tr style="border: none;">
                                    <td>ELECTRONICS AND COMMUNICATION ENGINEERING</td>
                                </tr>
                                <tr style="background-color: white; border: none;">
                                    <td>M.Tech in VLSI & Embedded System Engineering -18 <br>
                                        M.Tech in Communication Engineering -18</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h4 style="text-align: center; font-size: medium; font-weight: normal;">
                            M.Tech programmes are of 2 year duration
                            and are affiliated to <b>APJ Abdul Kalam Technological University (KTU), Trivandrum.</b>
                        </h4>
                    </div>

                    <br>
                    <br>
                    <div class="mtech">
                        <table style="align-items: center" class="styled-table">
                            <thead>
                                <tr>
                                    <th style="text-align: center">MCA</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th style="color: black; text-align: center; background-color: white;">
                                        SSET offers MCA with an intake capacity as given below: </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border: none;">
                                    <td>MASTER OF COMPUTER APPLICATIONS (MCA) - 30</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h4 style="text-align: center; font-size: medium; font-weight: normal;">Master of Computer
                            Applications (MCA) programme is of 2 years duration and is affiliated to <br>
                            <b>APJ Abdul Kalam Technological University (KTU), Trivandrum.</b>
                        </h4>
                    </div>


                </div>
            </div>
        </div>

    </div>





    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

    
</body>

</html>