<<<<<<< HEAD
.column{
    float: left;
    width: 50%;
}
.row:{
    clear: both;
=======
.column{
    float: left;
    width: 50%;
}
.row:{
    clear: both;
>>>>>>> 9a9b7e3ef4202c3cc6b9f4e0efe5bf4e9a6a08db
}