<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/placements">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/placements/mous">MOU’s</a></li>
                        <li class="orange-box-text"><a href="">TRAINING</a></li>
                        <li class="orange-box-text"><a href="/placements/recruitment-process">RECRUITMENT PROCESS</a></li>
                        <li class="orange-box-text"><a href="/placements/recruiters">RECRUITERS</a></li>
                        <li class="orange-box-text"><a href="">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT STATISTICS</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT PORTAL</a></li>
                        <li class="orange-box-text"><a class="active" href="/placements/contact">CONTACT US</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                        <div class="contact-title">
                            <h1 class="title-contact">Placement Contact</h1>
                        </div>
                        <div class="contact-cards">
                            <div class="contact-card1">
                                <p><span class="bold-letters">Training and Placements -In charge</span><br>
                                    Prof. (Dr.) Jayanand B <br>
                                    Training and Placement -in charge <br>
                                    SCMS School of Engineering and Technology, Karukutty, Ernakulam, <br>
                                    Kerala. Tel (O): +91 484 2882900/2450330 Ext 120 <br>
                                    Mob: +91 9447442427 <br>
                                    E-mail :jayanand@scmsgroup.org <br>
                                    Website : www.scmsgroup.org/sset</p>
                            </div>
                            <div class="contact-card2">
                                <p><span class="bold-letters"> Secretary-Placement Cell</span><br>
                                    Ms. Asha E. Prabhakaran <br>
                                    Tel (O): +91 484 2882900/2450330  Ext 121 <br>
                                    Email:sset@scmsgroup.org <br>
                                    Website : http://www.scmsgroup.org</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        

    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>