<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/placements/placements.css">
    <link rel="stylesheet" href="/css/placements/mous.css">

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>


    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/placements">OVERVIEW</a></li>
                        <li class="orange-box-text"><a class="active" href="/placements/mous">MOU’s</a></li>
                        <li class="orange-box-text"><a href="">TRAINING</a></li>
                        <li class="orange-box-text"><a href="/placements/recruitment-process">RECRUITMENT PROCESS</a></li>
                        <li class="orange-box-text"><a href="/placements/recruiters">RECRUITERS</a></li>
                        <li class="orange-box-text"><a href="">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT STATISTICS</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT PORTAL</a></li>
                        <li class="orange-box-text"><a href="/placements/contact">CONTACT US</a></li>

                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                        <div class="mou-title">
                            <h2 class="title-mou">INDUSTRY COLLABORATIONS AND MOU'S</h2>
                        </div>
                        <div class="mou-para1">
                            <p>SSET has entered into collaboration with many leading corporates and international universities to enhance the employability skills of students also to provide global exposure.</p>
                        </div>
                        <div class="mou-para2">
                            <p><span class="orange-bold-subtitles">Infosys Limited</span> - SSET has signed MoU with Infosys in 2007 to conduct Foundation and Soft Skill programs. These courses increase student’s employability. Evaluating the performance of SSET, Infosys has upgraded SSET’s status to advance level. The content of the training programs and the Faculty Enablement are done by Infosys. The MoU has been recently renewed in 2019 based on the excellent and consistent performance of the students. Currently Infosys offers the InfyTQ certification to our students through their online learning platform (https://infytq.infosys.com/)</p>
                        </div>
                        <div class="mou-para3">
                            <p><span class="orange-bold-subtitles">ICT Academy</span> - ICT Academy is an initiative of the Government of India in collaboration with the state Governments and Industries that endeavours to train the higher education teachers and students thereby exercises on developing the next generation teachers and industry ready students. ICT Academy provides training to the students and faculty at SSET.</p>
                        </div>
                        <div class="mou-para4">
                            <p><span class="orange-bold-subtitles">Wipro Technologies</span> - WIPRO as an Industrial Leader initiated Mission 10X which was formally launched in 2007 with an aim of enhancing the employability skills of the engineering graduates and thus making them fit for the industry. To make this a reality, Mission10X Learning approach aims at empowering engineering faculty with innovative teaching techniques and tools. The program is being implemented through a series of faculty enablement workshops. This collaboration has lead to the creation of Unified Technology Learning Platform which exposes engineering students to latest technology</p>
                        </div>
                        <div class="mou-para5">
                            <p><span class="orange-bold-subtitles">Redhat India Pvt. Ltd</span> - Our college has signed MoU with Redhat India Pvt. Ltd to conduct Redhat Linux courses for our students. The resource persons are our Red hat trained faculty members</p>
                        </div>
                        <div class="mou-para6">
                            <p><span class="orange-bold-subtitles">TVS Harita Techserv</span> - Sponsored by SSET and initiated in 2013. The research centre is established with the objectives to create a pool of strong Industry ready talent from the engineering students, Understand concepts in design, various phases and roles that design engineers play in real life, Exposure to CAD-CAM-CAE-PLM-ANALYSIS and reverse engineering, Bridge the gap between industry requirements and skills taught in academic course, Teach and build interactive skills and team work, Groom engineers who are highly conversant with design processes and to build DNA for research in students.</p>
                        </div>
                        
                        <div class="mou-para7">
                            <p class="orange-bold-subtitles">Besides these, SSET also have active collaborations with the following international universities and organizations to provide global exposure to the students and faculty</p>
                        </div>

                        <div class="mou-bottom-list">
                            <ul>
                                <li>HungKuang University, Taiwan</li>
                                <li>Shimane University, Japan</li>
                                <li>Daffodils International University, Bangladesh</li>
                                <li>University of Applied Sciences, Ravens burg-Weingarten, Germany</li>
                                <li>University of Applied Sciences, Furtwangen, Germany</li>
                                <li>Limco GmbH, Konstanz, Germany</li>
                                <li>Nivus GmbH, Eppingen, Germany</li>
                                <li>Sewerin GmbH, Germany</li>
                                <li>Vrije Universiteit Brussel, Belgium</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        

    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>