<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/placements/placements.css">

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a class="active" href="/placements">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/placements/mous">MOU’s</a></li>
                        <li class="orange-box-text"><a href="">TRAINING</a></li>
                        <li class="orange-box-text"><a href="/placements/recruitment-process">RECRUITMENT PROCESS</a></li>
                        <li class="orange-box-text"><a href="/placements/recruiters">RECRUITERS</a></li>
                        <li class="orange-box-text"><a href="">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT STATISTICS</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT PORTAL</a></li>
                        <li class="orange-box-text"><a href="/placements/contact">CONTACT US</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                       <div class="placement-content-title"><h3>PLACEMENT OVERVIEW</h3></div>
                        <div class="placement-content-container">
                            <div class="placement-content-top">
                                <div class="placement-top-text">
                                    <p>Our Training and Placement Cell provides assistance for the overall development of our student’s personality and thus makes them ready for placement activities. The department organizes on and off campus as well as pooled campus recruitment and pre placement training programmes through aptitude tests, group discussions, interviews and presentation skills. The training programs offered enables students to identify their strengths and weaknesses and select the strategies for improvement. besides, we extend intensive support for their career development</p>
                                </div>   
                                <div class="placement-top-image-wrapper">
                                    <img src="/images/interview-illustration.jpg" alt="" class="placement-content-top-image">
                                </div>                         
                            </div>
                            <div class="placement-content-second">
                                <div class="placement-second-image-wrapper">
                                    <img src="/images/hiring.jpg" alt="" class="placement-content-second-image">
                                </div>
                                <div class="placement-second-text">
                                    <p>Top companies seek candidates with technical expertise and strong communication skills. SSET's Placement Cell fosters these qualities to prepare students for success in the corporate world. The Cell provides training in aptitude and personality development, and promotes participation in extracurricular activities. Students with good marks and proficiency in these areas have the best chance of securing optimal placements. Students should make use of campus resources, including training programs, to enhance their skills. Those who secure positions with core companies are discouraged from attending further campus interviews, while students pursuing higher education are encouraged to take competitive exams.</p>
                                </div>
                            </div>
                            <div class="placement-content-bottom">
                                <div class="placement-overview-img-wrapper">
                                    <img src="/images/placement-overview.jpg" alt="" class="placement-overview-image">
                                </div>
                                <div class="placement-content-bottom-text">
                                    <h3 class="placement-bottom-text">Recruitment still going on for the batch</h3>
                                </div>
                                <div class="placement-overview-img-wrapper">
                                    <img src="/images/Recruiters Collage.jpg" alt="" class="placement-overview-image">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        

    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>