<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/placements/recruitment-process.css">

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/placements">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/placements/mous">MOU’s</a></li>
                        <li class="orange-box-text"><a href="">TRAINING</a></li>
                        <li class="orange-box-text"><a class="active" href="/placements/recruitment-process">RECRUITMENT PROCESS</a></li>
                        <li class="orange-box-text"><a href="/placements/recruiters">RECRUITERS</a></li>
                        <li class="orange-box-text"><a href="">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT STATISTICS</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT PORTAL</a></li>
                        <li class="orange-box-text"><a href="/placements/contact">CONTACT US</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                        <div class="recruit-process-title">
                            <h2 class="title-recruit-process">Recruitment Process</h2>
                        </div>
                        
                        <div class="recruit-process-para1">
                            <p>COMPANIES ARE INVITED TO OUR CAMPUS FOR CONDUCT THEIR RECRUITMENT PROCESS AND ARE REQUESTED TO CONTACT OUR PLACEMENT CELL TO FURNISH ENTIRE DETAILS OF THE OPEN POSITION LIKE JOB TITLE, DESCRIPTION, ELIGIBILITY CRITERIA, SALARY STRUCTURE, ETC. THE SAME WOULD BE COMMUNICATED TO THE STUDENTS ACCORDINGLY. THE SUITABLE DATE FOR THE CAMPUS RECRUITMENT DRIVE WOULD BE DECIDED AS PER MUTUAL CONVENIENCE AND THE SELECTION PROCESS IS CONDUCTED SUCCESSFULLY.</p>
                        </div>
                        <div class="recruitment-process-image">
                            <img src="/images/recruitment-process.jpg" alt="" class="image-recruit-process">
                        </div>


                    </div>
                </div>
            </div>

        </div>

        

    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>