<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/placements/recruiters.css">
</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/placements">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/placements/mous">MOU’s</a></li>
                        <li class="orange-box-text"><a href="">TRAINING</a></li>
                        <li class="orange-box-text"><a href="/placements/recruitment-process">RECRUITMENT PROCESS</a></li>
                        <li class="orange-box-text"><a class="active" href="/placements/recruiters">RECRUITERS</a></li>
                        <li class="orange-box-text"><a href="">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT STATISTICS</a></li>
                        <li class="orange-box-text"><a href="">PLACEMENT PORTAL</a></li>
                        <li class="orange-box-text"><a href="/placements/contact">CONTACT US</a></li>
                    </ul>
                </div>
            </div>

            <div class="recruiters-right">
                
                <div class="right-section">
                    <div class="recruiters-title">
                        <h2 class="placement-recruiters">PLACEMENT RECRUITERS</h2>
                    </div>
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image1-wrapper">
                                <img src="/images/SSET_Recruiters_1.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image2-wrapper">
                                <img src="/images/SSET_Recruiters_2.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image3-wrapper">
                                <img src="/images/SSET_Recruiters_3.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image4-wrapper">
                                <img src="/images/SSET_Recruiters_4.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image5-wrapper">
                                <img src="/images/SSET_Recruiters_5.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <div class="recruiter-image6-wrapper">
                                <img src="/images/SSET_Recruiters_6.jpg" alt="" class="recruiters-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        

    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>