<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/alumni/alumni.css" />
        <link rel="stylesheet" href="/css/naac/naac.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

        <div class="container">

            <div class="banner-img-conatiner">
                <div class="banner-img-wrapper">
                    <img src="/images/banner.jpg" alt="" class="banner-img">
                </div>
            </div>

            <div class="content-wrapper">

                <div class="left-section">
                    <div class="orange-nav-box-container">
                        <ul class="orange-nav-box-wrapper">
                            <li class="orange-box-text"><a class="active" href="">IQAC - Committee @ SSET</a></li>
                            <li class="orange-box-text"><a href="">Annual Quality Assurance Report</a></li>
                            <li class="orange-box-text"><a href="">NAAC SSR Cycle 2</a></li>
                        </ul>
                    </div>
                </div>

                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">

                            <p id="iqac-heading" class="page-heading textbox">INTERNAL QUALITY ASSURANCE CELL</p>
                            <section class="page-section">
                                <p class="textbox">
                                    In conformation with the NAAC directives to maintain momentum of quality
                                    consciousness
                                    in Higher Education Institutions, SCMS School of Engineering & Technology has
                                    constituted an Internal Quality Assurance Cell (IQAC). The IQAC channelizes and
                                    systematizes the efforts and measures of the Institution towards academic
                                    excellence.
                                </p>
                                <div>
                                    <h3 id="iqac-obj" class="textbox">Objectives :</h3>
                                    <ul>
                                        <li class="sub-point textbox"> Develop a quality system for conscious,
                                            consistent
                                            and
                                            catalytic
                                            programmed action
                                            to improve the academic and administrative performance.
                                        </li>
                                        <li class="sub-point textbox"> Promote measures for institutional functioning
                                            towards
                                            quality
                                            enhancement through
                                            internalization of quality culture and institutionalization of best
                                            practices.
                                        </li>
                                    </ul>
                                </div>
                            </section>

                            <section class="page-section">
                                <div class="sub-section">
                                    <h3 class="page-subheading textbox">Chairperson</h3>
                                    <p class="textbox">Dr. Anitha G. Pillai, Principal, SSET</p>
                                </div>
                                <div class="sub-section">
                                    <h3 class="page-subheading textbox">Senior Administrative Officers</h3>
                                    <p class="textbox">Prof. Pramod P. Thevannoor, Vice Chairman, SCMS Group</p>
                                    <p class="textbox"> Dr. Radha P. Thevannoor, Group Director, SCMS</p>
                                    <p class="textbox"> Dr. Indu Nair, Group Director, SCMS</p>
                                    <p class="textbox"> Dr. Sunny George, Director, SCMS Water Institute</p>
                                </div>
                                <div class="sub-section">
                                    <h3 class="page-subheading textbox">Coordinator IQAC</h3>
                                    <p class="textbox">Dr. Suresh Kumar V., Dean of Acdemics</p>
                                </div>
                                <div class="sub-section">
                                    <h3 class="page-subheading textbox">Faculty</h3>
                                    <p class="textbox">Dr. Jenson Joseph E.,HOD, Dept of AU</p>
                                    <p class="textbox">Dr. Nisha.L,HOD, Dept of CE</p>
                                    <p class="textbox">Dr.Varun G. Menon,HOD , Dept of CSE</p>
                                    <p class="textbox">Ms. Anandhi V, HOD, Dept ofECE</p>
                                    <p class="textbox">Mr.Jayanand B,HOD , Dept of EEE</p>
                                    <p class="textbox">Dr. Rag R L,,HOD , Dept ofME</p>
                                    <p class="textbox">Dr. SreelekhaMenon, HOD, Dept ofBS & H</p>
                                    <p class="textbox">Dr. Anu V R, Associate Professor,Dept of CSE</p>
                                    <p class="textbox">Mr. Jose SherilD‘cotha, Assistant Professor,Dept ofME</p>
                                    <p class="textbox">Ms. Lakshmipriya,Assistant Professor,Dept of CE</p>
                                    <p class="textbox">Ms. Sindhya K. Nambiar, Assistant Professor,Dept of CSE</p>
                                    <p class="textbox">Dr. Parvathy M,Assistant Professor,Dept of ECE</p>
                                    <p class="textbox">Mr. Anil , Librarian, PTLRC</p>
                                    <p class="textbox">Dr. Mini Tom, Deputy Dean, SSET</p>
                                    <p class="textbox">Ms. Divya ,Assistant Professor,Dept of BS & H</p>
                                </div>
                            </section>

                            <section class="page-section">
                                <h3 class="page-subheading textbox">Nominees</h3>
                                <div class="sub-section">
                                    <p class="sub-head textbox">Industrialists/Stakeholders</p>
                                    <p class="sub-point textbox">Dr. P. S. Harikumar, Director, Water Quality
                                        Division,Centre for
                                        Water Resources
                                        Development & Management (Govt. of Kerala), Kunnamangalam, Kozhikode, Kerala
                                    </p>
                                    <p class="sub-point textbox"> Mr. Sajeev Paul, Cluster Director of Engineering,
                                        Kochi &
                                        Bengaluru Marriott
                                        Hotels
                                    </p>
                                </div>
                                <div class="sub-section">
                                    <p class="sub-head textbox">Alumni</p>
                                    <p class="sub-point">Ms. Meera R Nair, Managing Partner, Foliage Architects, Kochi
                                    </p>
                                </div>
                                <div class="sub-section">
                                    <p class="sub-head textbox">Student</p>
                                    <p class="sub-point">Mr. Tom George Kappil</p>
                                </div>

                            </section>

                            <section class="page-section">
                                <h3 class="page-subheading textbox">Functions of IQAC wing of SSET</h3>
                                <ul>
                                    <li class="sub-point textbox">To develop a quality system for conscious, consistent
                                        and
                                        catalytic programmed action to improve the academic and administrative
                                        performance.
                                    </li>
                                    <li class="sub-point textbox">To promote measures for institutional functioning
                                        towards
                                        quality
                                        enhancement through internalization of quality culture and institutionalization
                                        of
                                        best practices
                                    </li>
                                    <li class="sub-point textbox">To develop a quality system for conscious, consistent
                                        and
                                        catalytic programmed action to improve the academic and administrative
                                        performance.
                                    </li>
                                    <li class="sub-point textbox">To promote measures for institutional functioning
                                        towards
                                        quality
                                        enhancement through internalization of quality culture and institutionalization
                                        of
                                        best practices
                                    </li>
                                </ul>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>


</body>

</html>