<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/home/home.css">
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>




    <div class="container">
        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/banner.jpg" alt="" class="banner-img">
            </div>
        </div>




        <section class="home-sections home-description-section">
            <div class="left-description-box-container">
                <div class="left-description-box-wrapper">
                    <div class="left-description-title titles">SCMS School of Engineering And Technology</div>
                    <p class="left-description-para para">SCMS School of Engineering and Technology (SSET) is envisaged as a premier institution offering technology related education of exceptional quality to students by developing their total personality with due emphasis on ethical values and preparing them to meet the growing challenges of the industry and diverse societal needs of the institution.</p>
                </div>
            </div>
            <div class="right-description-box-container">
                <div class="right-description-box-wrapper">
                    <div class="right-description-top">
                        <div class="right-description-title titles">2023 Admissions Open</div>
                        <button class="right-description-btn">APPLY NOW</button>
                    </div>
                    <div class="right-description-bottom">
                        <div class="right-description-left">
                            <div class="college-code-wrapper">
                                <div class="college-code">COLLEGE CODE</div>
                                <div class="scm">SCM</div>
                            </div>
                            <button class="right-description-download-btn">Download Brochure</button>
                        </div>
                        <div class="right-description-right">
                            <div>Admission Hotline</div>
                            <div class="hot-line-numbers">
                                <div><i  class=" phone-icon fa-solid fa-phone"></i>70347 80072</div>
                                <div><i  class=" phone-icon fa-solid fa-phone"></i>70347 80074</div>
                                <div><i  class=" phone-icon fa-solid fa-phone"></i>70347 80073</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="home-sections home-deaprtments-section">
            <div class="home-deaprtments-nav-wrapper">
                <div class="home-deaprtments-nav">
                    <div class="home-deaprtments-nav-links active ">BACHELORS</div>
                    <div class="home-deaprtments-nav-links ">MASTERS</div>
                </div>
            </div>
            <div class="home-deaprtments-box-container">

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="home-deaprtments-box-wrapper">
                    <div class="home-deaprtments-box-top">
                        <div class="home-deaprtments-box-title box-title">Civil & Environmental
                            Engineering Department</div>
                    </div>
                    <div class="home-deaprtments-box-bottom">
                        <div class="home-deaprtments-box-degree">Bachelor</div>
                        <button class="home-deaprtments-box-btn"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>


            </div>
        </section>




        <section class="home-sections home-faculty-section">
            <div class="home-faculty-left">
                <div class="home-faculty-title titles">OUR SKILLED FACULTY HELPS STUDENTS IN MANY DISCIPLINES</div>
            </div>
            <div class="home-faculty-right">
                <div class="home-faculty-img-wrapper">
                    <img class="home-faculty-img" src="/images/faculty.jpg" alt="">
                    <button class="home-faculty-btn">Faculty</button>
                </div>
            </div>
        </section>




        <section class="home-sections home-gallery-section">
            <div class="home-gallery-title headings">PHOTO GALLERY</div>
            <div class="home-gallery-wrapper">
                <div class="home-gallery-img-box gallery-box-1"><img class="home-gallery-img" src="/images/g1.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-2"><img class="home-gallery-img" src="/images/g2.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-3"><img class="home-gallery-img" src="/images/g3.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-4"><img class="home-gallery-img" src="/images/g4.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-5"><img class="home-gallery-img" src="/images/g5.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-6"><img class="home-gallery-img" src="/images/g6.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-7"><img class="home-gallery-img" src="/images/g7.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-8"><img class="home-gallery-img" src="/images/g8.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-9"><img class="home-gallery-img" src="/images/g9.jpg" alt=""></div>
                <div class="home-gallery-img-box gallery-box-10"><img class="home-gallery-img"src="/images/g10.jpg" alt=""></div>
            </div>
        </section>




        <section class="home-sections home-strength-section">
            <div class="home-strength-students strength-row">
                <div class="home-strength-num">10K</div>
                <div class="home-strength-title">STUDENTS</div>
            </div>
            <div class="home-strength-professors strength-row">
                <div class="home-strength-num">300</div>
                <div class="home-strength-title">PROFESSORS</div>
            </div>
            <div class="home-strength-faculty strength-row">
                <div class="home-strength-num">07 </div>
                <div class="home-strength-title">FACULTY</div>
            </div>
        </section>




        <section class="home-sections home-campus-life-section">
            <div class="home-campus-life-heading headings">CAMPUS LIFE</div>
            <div class="home-campus-life-wrapper">
                <div class="home-campus-life-left">
                    <div class="home-campus-life-title titles">
                        UNIVERSITY IS THE BEST TIME OF YOUR LIFE
                    </div>
                    <div class="home-campus-life-para para">
                        EXPLORE UNIVERSITY'S 10+ COURSES ACROSS VARIOUS SPECIALISATIONS THAT PROVOKE INTELLECTUAL AND INTUITIVE LEARNING AMONG STUDENTS.
                    </div>
                </div>
                <div class="home-campus-life-right">
                    <div class="home-campus-life-img-box">
                        <img src="/images/campus-life.jpg" alt="" class="home-campus-life-img">
                    </div>
                </div>
            </div>
        </section>




        <section class="home-sections home-feedback-section">
            <div class="home-feedback-left">
                <div class="home-feedback-heading">
                    <div class="home-feedback-heading-line-1 titles">STUDENTS</div>
                    <div class="home-feedback-heading-line-2 titles">FEEDBACK</div>
                </div>
            </div>
            <div class="home-feedback-right">
                <!-- <div class="home-feedback-title">TESTIMONIALS</div> -->

                <div class="home-feedback-box-container">
                    <div class="home-feedback-box-wrapper" id="feedbackCol1">

                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>

                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="home-feedback-box-wrapper" id="feedbackCol2">
    
                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>
                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>
                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>
                        <div class="home-feedback-box">
                            <div class="home-feedback-box-top">
                                <div class="home-feedback-box-title box-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                            </div>
                            <div class="home-feedback-box-bottom">
                                <div class="home-feedback-box-img-wrapper">
                                    <img src="/images/f1.jpg" alt="" class="home-feedback-box-img">
                                </div>
                                <div class="home-feedback-box-desc">
                                    <div class="home-feedback-box-name">hawkins</div>
                                    <div class="home-feedback-box-desig">Student</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>


                
            </div>
        </section>




        <section class="home-sections home-events-section">
            <div class="home-events-heading headings">EVENTS</div>
            <div class="home-events-title titles">RECENT AND UPCOMING EVENTS</div>
            <div class="home-events-content-wrapper">
                <div class="home-events-content-left">
                    <ul>
                        <li class="active"><a href="">Arts</a></li>
                        <li><a href="">Culture</a></li>
                        <li><a href="">Exibition</a></li>
                        <li><a href="">Seminar</a></li>
                        <li><a href="">Sports</a></li>
                        <li><a href="">Recreation</a></li>
                        <li class="health-care-li"><a href="">Health care</a></li>
                    </ul>
                </div>
                <div class="home-events-content-right">
                        <div class="home-events-box-wrapper">

                            <div class="home-events-box">
                                <div class="home-events-box-row1">
                                    <div class="home-events-box-date">Feb 11, 2023</div>
                                    <div class="home-events-box-degree">Bachelor</div>
                                </div>
                                <div class="home-events-box-row2">
                                    <div class="home-events-box-title box-title">The Middle East In The Twentieth Century</div>
                                    <div class="home-events-box-para box-para">American Journal Of Applied Scientific Research (AJASR) Is A Peer-Reviewed, Open Access International Journal, Published By Science Publishing Group.</div>
                                </div>
                                <div class="home-events-box-row3">
                                    <button class="home-events-box-btn"><i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>

                            <div class="home-events-box">
                                <div class="home-events-box-row1">
                                    <div class="home-events-box-date">Feb 11, 2023</div>
                                    <div class="home-events-box-degree">Bachelor</div>
                                </div>
                                <div class="home-events-box-row2">
                                    <div class="home-events-box-title box-title">The Middle East In The Twentieth Century</div>
                                    <div class="home-events-box-para box-para">American Journal Of Applied Scientific Research (AJASR) Is A Peer-Reviewed, Open Access International Journal, Published By Science Publishing Group.</div>
                                </div>
                                <div class="home-events-box-row3">
                                    <button class="home-events-box-btn"><i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>

                            <div class="home-events-box">
                                <div class="home-events-box-row1">
                                    <div class="home-events-box-date">Feb 11, 2023</div>
                                    <div class="home-events-box-degree">Bachelor</div>
                                </div>
                                <div class="home-events-box-row2">
                                    <div class="home-events-box-title box-title">The Middle East In The Twentieth Century</div>
                                    <div class="home-events-box-para box-para">American Journal Of Applied Scientific Research (AJASR) Is A Peer-Reviewed, Open Access International Journal, Published By Science Publishing Group.</div>
                                </div>
                                <div class="home-events-box-row3">
                                    <button class="home-events-box-btn"><i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </section>




        <section class="home-sections home-societies-section">
            <div class="home-societies-heading headings">PROFESSIONAL SOCIETIES</div>
            <div class="home-societies-box-wrapper">
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                <div class="home-societies-box">
                    <div class="home-societies-img-box">
                        <img src="/images/logoplace.png" alt="" class="home-societies-img">
                    </div>
                </div>
                
            </div>
        </section>




        <section class="home-sections home-contact-section">
            <div class="home-contact-directions">
                <div class="home-contact-directions-title titles">Directions</div>     

                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.901559399651!2d76.39809205034408!3d10.269515192630765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08011a49506827%3A0x7f47e0e624b0bd22!2sSCMS%20School%20of%20Engineering%20%26%20Technology%20%2C%20Karukutty!5e0!3m2!1sen!2sin!4v1678173929967!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <div class="home-contact-directions-para para"><b>Lorem Ipsum </b>is simply dummy text of the printing and typesetting industry.</div>
            </div>

            <div class="home-contact-get-in-touch">
                <div class="home-contact-get-in-touch-title titles">Get in touch!</div>
                <form class="home-contact-get-in-touch-wrapper" action="">
                    <input type="text" placeholder="name">
                    <input type="text" placeholder="email">
                    <textarea placeholder="enter your message" name="" id="" cols="30" rows="10"></textarea>
                    <button class="contact-section-submit-btn" type="submit">SUBMIT</button>
                </form>
            </div>
        </section>

    </div>






    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>



    
</body>

</html>