.container1{
    display: flex;
    flex-direction: column;
    width:50%;
    gap:10px;
}
.wrapper1{
        width: 60%;
        border: 1px solid #0a0a0a;
        border-radius: 12px;
        padding: 10px;
        
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.down-section{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px;
}
.banner1-img{
    width: 100%;
    height: 22vw;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imagee{
    width:50%;
    height: 20vw;
}
.cont1{
    
    display: flex;
    gap:40px;
    margin-bottom:80px;
    }
.lis{

    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
