
.leftdown-section{
    font-size: 14px;
    font-weight: 700;
    width: 20%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 25px;
    text-align:center;
    padding-bottom: 100px;
    

}
.rightdown-section{
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 10px;
   

}
.map
{
    display:flex;
    justify-content: center;
    margin: 20px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: column;
}
.rectangle{
    width: 100%;
    margin: 10px;
    background-color: rgb(238, 238, 236);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: column;
    padding: 30px;
    
    
   } 



.leftdown-section{
    font-size: 14px;
    font-weight: 700;
    width: 20%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 25px;
    text-align:center;
    padding-bottom: 100px;
    

}
.rightdown-section{
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 10px;
   

}
.map
{
    display:flex;
    justify-content: center;
    margin: 20px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: column;
}
.rectangle{
    width: 100%;
    margin: 10px;
    background-color: rgb(238, 238, 236);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: column;
    padding: 30px;
    
    
   } 
  

