<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/departments/academics.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="banner-academics">
        <img class="banner-academics-img" alt="Academics" src="/images/banner_academics.png" />
        <h1 class="hero-text">COMPUTER SCIENCE & ENGINEERING</h1>
    </div>

    <div class="content-wrapper">
        <div class="left-section">
            <div class="orange-nav-box-container">
                <ul class="orange-nav-box-wrapper">
                    <li class="orange-box-text"><a class="active" href="">Academics</a></li>
                    <li class="orange-box-text"><a href="">Apply Online</a></li>
                    <li class="orange-box-text"><a href="">News & Events</a></li>
                    <li class="orange-box-text"><a href="">Departments</a></li>
                    <li class="orange-box-text"><a href="">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="right-section">
            <div class="white-box-container">
                <div class="white-box-wrapper">
                    <div class="academics-intro">
                        <p style="text-align:center start">
                            Department of Computer Science and Engineering was established at SSET with the objective of
                            imparting
                            quality education in the field of Computer Science and Engineering. With rapidly evolving
                            technology and
                            the continuous need for innovation the department has always produced quality professionals,
                            holding
                            important positions in Information Technology industry in India and abroad.
                            <br>
                            Department of Computer Science and Engineering strives to shape outstanding computer
                            professionals with
                            ethical and human values to reshape nation's destiny. The training imparted aims to prepare
                            young minds
                            for the challenging opportunities in the IT industry with a global awareness, nourished and
                            supported by
                            experts in the field. <br><br>
                        <pre>Department of Computer Science and Engineering in SSET offers:
                            B. Tech in Computer Science and Engineering (180 intakes) 
                            B. Tech in Computer Science and Engineering(Data Science) (60intakes) 
                            B. Tech in Computer Science and Engineering(Artificial Intelligence) (30 intakes)
                            M. Tech in Computer Science and Information Systems (24 intakes)
                            PhD program in Computer Science and Engineering
                            </pre>
                        The department is equipped with state-of-the-art infrastructure, modern facilities, expert
                        faculty, promising students and above all a serene environment conducive to Engineering studies
                        and
                        research.
                        </p>
                    </div>

                </div>
            </div>
        </div>        
    </div>

    <div class="banner-academics-opaque">
        <img class="banner-academics-img2" alt="Academics" src="/images/banner_academics.png"/>
        <h1 class="hero-text2">CSE @SSET</h1>
     </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

    
</body>

</html>