<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
          <!-- LEFT SECTION PARTIAL -->
          <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                AICTE Essentials
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent aicteSec">
                <a href="https://www.scmsgroup.org/sset/downloads/SSET-Mandatory%20Disclosure.pdf" target="_blank">
                  <div class="aicteLinkBox">
                    <div class="linkIcon">
                      <img src="/images/link_icon.png" alt="" srcset="" />
                    </div>
                    <div class="linkName">
                      <p>Mandatory Disclosure</p>
                    </div>
                  </div>
                </a>

                <a href="https://scmsgroup.org/sset/downloads/AICTE%20APPROVAL%202022-2023%20UPDATED%2012.09.2022.PDF" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>AICTE Extension of Approval - Latest</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://scmsgroup.org/sset/downloads/Audited%20Statement%20of%20Accounts%20SSET.pdf" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>Audited Statement of Accounts - 5 years</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://swayam.gov.in/" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>SWAYAM - MHRD</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://unnatbharatabhiyan.gov.in/participating_institutes" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>Unnat Bharat Abhiyan - MHRD</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://www.vidyalakshmi.co.in/Students/" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>VIDYALAKSHMI - NSDL</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://www.knowyourcollege-gov.in/InstituteDetails.php?insti_id=1-7925911" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>Know Your College - MHRD/AICTE</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://www.aicte-india.org/feedback/index.php" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>AICTE Feedback for Student and Faculty</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://scholarships.gov.in//" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>National Scholarship Portal</p>
                      </div>
                    </div>
                  </a>

                  <a href="https://www.scmsgroup.org/sset/downloads/list-suggested-books-indian-authors-publishers.pdf" target="_blank">
                    <div class="aicteLinkBox">
                      <div class="linkIcon">
                        <img src="/images/link_icon.png" alt="" srcset="" />
                      </div>
                      <div class="linkName">
                        <p>Suggested books by Indian publishers - AICTE model curriculum</p>
                      </div>
                    </div>
                  </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>