<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
            <!-- LEFT SECTION PARTIAL -->
            <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Anti-Ragging Information
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                The institution has taken various precautions as per the AICTE
                Norms and University regulations to prevent ragging and ensure
                100% no-ragging. An anti ragging committee functions in the
                college. In addition an anti ragging squad has been constituted
                by the Principal as a precautionary measure against this menace
                and the squad keeps strict vigil to prevent unseemly incidents
                of ragging in the college premises. The class timings and
                canteen timings are staggered for first and senior years so that
                the new students are free to move in the campus. Separate
                college buses are provided for first year students. Classes are
                organized on legal awareness on anti ragging every year. The
                newly enrolled students are made aware of the legal implications
                of ragging. Senior students do not indulge themselves in such
                practices as they are well aware of the consequences and
                punishments to follow. Anti ragging banners are displayed at
                prominent places. Anti-ragging directives of University and
                State Government and Court of Law are displayed in notice boards
                and included in college brochure. The phone numbers of members
                in the anti ragging committee are also displayed in the notice
                board. Affidavits by both student and parents are collected at
                the time of admission.

                <div class="rankHoldTitle antiRagBox">
                  <h1>ATTENTION!</h1>
                  <h2>
                    Ragging is totally banned in the campus and anyone found
                    guilty of ragging and/or abetting ragging is liable to be
                    punished as it is a criminal offence.
                  </h2>
                </div>

                <p style="margin-top: 20px">
                  <b style="font-weight: 600">NOTIFICATION</b>
                </p>

                <h2
                  class="profName ProfNameSub ProfNameSubTltle aicteTitleH2"
                  style="color: #d85805"
                >
                  ALL INDIA COUNCIL FOR TECHNICAL EDUCATION
                </h2>
                <ul>
                  <li class="subPointText">
                    <p>
                      <b>Subject:</b> Prevention and prohibition of Ragging in
                      technical Institutions, Universities including Deemed to
                      be Universities imparting technical education.
                    </p>
                  </li>
                  <li class="subPointText">
                    <p>
                      <b>F.No.37-3/Legal/AICTE/2009 –</b> In exercise of the
                      powers conferred under Section 23 read with Section 10
                      (b), (g), (p) and (q) of AICTE Act, 1987, the All India
                      Council for Technical Education, hereby makes the
                      following Regulations:-
                    </p>
                  </li>

                  <li class="subPointText">
                    <p>
                      <b>1. Short title and commencement:-</b>
                      <br />
                      <b>(i)</b> These Regulations may be called the All India
                      Council for Technical Education (Prevention and
                      Prohibition of Ragging in Technical Institutions,
                      Universities including Deemed to be Universities imparting
                      technical education) Regulations 2009.<br /><b>(ii)</b>
                      They shall come into force on the date of the
                      notification.
                    </p>
                  </li>

                  <li class="subPointText">
                    <p>
                      <b>2. Objectives:-</b>
                      <br />
                      In view of the directions of the Hon’ble Supreme Court in
                      SLP No. 24295 of 2006 dated 16-05-2007 and in Civil Appeal
                      number 887 of 2009, dated 08-05-2009 to prohibit, prevent
                      and eliminate the scourge of ragging including any conduct
                      by any student or students whether by words spoken or
                      written or by an act which has the effect of teasing,
                      treating or handling with rudeness a fresher or any other
                      student, or indulging in rowdy or undisciplined activities
                      by any student or students which causes or is likely to
                      cause annoyance, hardship or psychological harm or to
                      raise fear or apprehension thereof in any fresher or any
                      other student or asking any student to do any act which
                      such student will not in the ordinary course do and which
                      has the effect of causing or generating a sense of shame,
                      or torment or embarrassment so as to adversely affect the
                      physique or psyche of such fresher or any other student,
                      with or without an intent to derive a sadistic pleasure or
                      showing off power, authority or superiority by a student
                      over any fresher or any other student, in all higher
                      education institutions in the country, and thereby, to
                      provide for the healthy development, physically and
                      psychologically, of all students, the All India Council
                      for Technical Education,(AICTE) brings forth Regulations
                      for <b>Prevention and prohibition of Ragging</b> .
                    </p>
                  </li>

                  <li class="subPointText antiRagExtra">
                    <p>
                      <b>3. Regulations and Directives for Download</b>
                    </p>
                    <ul class="innerUl">
                      <li>
                        <a
                          href="https://www.scmsgroup.org/sset/downloads/regulations_by_the_all%20india_council_for_technical_education.pdf"
                          target="_blank"
                          >Regulations by the All India Council for Technical
                          Education</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.scmsgroup.org/sset/downloads/AICTE_Antiragging_policy.pdf"
                          target="_blank"
                          >Anti-ragging Policy - AICTE Regulations as per the
                          Directives of Supreme Court</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.scmsgroup.org/sset/downloads/public_notice_curbing_the_menace_of_ragging_in_KTU_affiliated_technical_institutions.pdf"
                          target="_blank"
                          >Public Notice Curbing The Menace of Ragging In KTU
                          Affiliated Technical Institutions</a
                        >
                      </li>
                    </ul>
                  </li>

                  <li class="subPointText">
                    <p>
                      <b>4. Antiragging Squad & Committee</b>
                      <br />
                    </p>
                  </li>
                  <ul class="innerUl innerUlExtra">
                    <li>
                      <b class="semibold">Chairman -</b> Dr. Praveensal C J,
                      Principal, SSET , Mob. No: 9446763487
                    </li>
                    <li>
                      <b class="semibold">Convenor -</b> Dr. Mini Tom, Professor
                      & Head , BS&H, Mobile - 9447710995
                    </li>
                  </ul>
                </ul>

                <p style="margin-top: 20px">
                  <b style="font-weight: 600">MEMBERS</b>
                </p>
                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Dr. Sreelekha B, Associate Professor, BS&H , 9846061909
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Mr. Santhosh. G, Associate Professor, CE , (Members
                      Coordinator) Mob. No: 9446744642
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Mr. Varun Jose, Assistant Professor EE</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Ms. Sonal Ayyappan, Associate Professor, CS</p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Mr. Ajith Kumar R , Assistant Professor, ME</p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Mr. Sujay K , Assistant Professor , AU</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>