<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
           <!-- LEFT SECTION PARTIAL -->
           <%- include('../partials/aboutNav') %>
        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Awards and Accolades
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS School of Engineering Technology bagged the
                      <b>Gandhian Young Technological Innovation Award</b> ‘
                      Presented at Rashtrapathi Bhavan , March 2018 for the
                      project titled “Brain Wave Nerve Excitation for Physically
                      Disabled”
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS School of Engineering Technology won 1st at
                      <b
                        >“AICTE-ECI Chhatra Vishwakarma Awards in
                        Electronics”</b
                      >
                      , IIT Delhi 2017 for the project titled “A De-Addiction
                      Coil For Drug Addicts”
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS Engineering College bags <b>‘Sastrayaan 2018’</b> at
                      CUSAT for the project titled “Muscle to Machine Interface
                      for Paralyzed Person (MMIPP) Ver.2”
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SSET Students of 5th & 8th Semester Bagged Cash Awards in
                      <b
                        >“Third Dialogue India Academia Conclave (IIT, Delhi),
                        2017”.</b
                      >
                      Projects Presented were: Shopping Assistance for Blind,
                      Automated Guidance Cart for Physically Disabled Person
                      Using Brain Signal, Life Detection and Rescue System Using
                      Snake Robot and Vehicle Load Monitoring System
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS School of Engineering Technology received ICTAK Award
                      College of the year 2016 from Dr. Kesava Swamy, Global
                      Head-Academic Interface Programs, TCS in the presence of
                      Mr. Shibulal, former CEO and MD, Infosys and Chairman of
                      ICTAK, Dr. Kuncheria P. Issac, Vice Chancellor, KTU and
                      Sri. Santhosh Kurup, CEO, ICTAK at the ICT Academy of
                      Kerala Annual Summit held at Thiruvananthapuram on 19 th
                      January 2017.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      International recognition by USA headquartered IEEE is
                      granted to our faculty for the project Muscle machine
                      interface for paralysed people.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS School of Engineering Technology received
                      Certification of Appreciation during 2016 considering the
                      outstanding contribution in Rollout of Infosys campus
                      connect Foundation program for the year 2015.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      The NSS Unit was awarded the trophy for the best overall
                      performance in the National Service Scheme State
                      valedictory camp conducted during 21st to 23rd February
                      2014.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Broke the Guinness World Record by having 1111 students to
                      blow out candles simultaneously. The final announcement
                      will be made from World Guiness Records, UK. The event was
                      organised as a part of the mega fest IGNIZ-2013 with the
                      theme of 'MAKE A DIFFERENCE (MAD)'.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SSET has been awarded once again with Advanced Partner
                      status in recognition for outstanding Infosys Campus
                      connect activities during the year 2011-2012 in the
                      college.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      ICI Trophy-Indian Concrete Institute Kochi Centre
                      organised a concrete cube strength competition for
                      engineering colleges in and around Kochi and SSET won the
                      first prize.
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SSET won the Infosys Inspire Trophy at the Infosys Campus
                      Connect Competition conducted at Trivandrum DC for the
                      teachers of engineering colleges in Kerala.
                    </p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Accreditations and Certifications
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS School of Engineering Technology has been awarded
                      'B+' Grade by the NAAC during November 2016.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      SCMS Engineering College is an ISO 9001:2008 certified
                      institution. The SCMS School of Engineering and Technology
                      ( SSET ) has received ISO Certification for “delivering
                      high quality engineering education based on MG University
                      curriculum”, from RINA SpA, Italy.
                    </p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Survey Rankings
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Our institution is ranked no. 38 in the India’s Top 100
                      T-School for 2017, ranked no. 17 in the India’s Best
                      Private T-schools by the survey conducted for DQ_CMR Best
                      Technical School Survey 2017 by DataQuest magazine, June
                      30, 2017 issue.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      As per “The Outlook” June 5, 2017 issue, SSET is ranked
                      73rd position among the National level Ranking of India’s
                      Top Professional Colleges, in the All India Level as part
                      of the survey conducted by The Outlook-Drshti Survey 2017
                      to identify the best professional colleges across the
                      country in different domains including technical
                      education.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      As per “The Competition Success Review” July, 2017 issue,
                      SSET is ranked 6th position among the National level
                      Ranking of Outstanding Engineering Colleges of Excellence
                      and 2nd position among The Top Engineering Colleges ranked
                      by State, in survey conducted CSR-GHRDC Engineering
                      Colleges Survey 2017 to identify the best colleges across
                      the country in engineering education.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      As per “The Week” June 18, 2017 issue, SSET is ranked 74th
                      position among the National level Ranking of Top Private
                      Engineering Colleges in the All India Level as part of the
                      survey conducted by The Week-Hansa Research Survey 2017 to
                      identify the best colleges across the country in different
                      domains including technical education.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Our institution is ranked no. 83 in the i3RC Times Top 150
                      All India Engineering Institute Ranking 2016, no. 41 in
                      Top 75 Private Engineering Institute Rankings 2016 and no.
                      1 the only college from Kerala by the survey conducted by
                      Times Engineering 2016. <br />
                      <a
                        href="http://www.times-engineering-survey.com/private-engineering.html"
                        style="color: #d85805"
                        >http://www.times-engineering-survey.com/private-engineering.html</a
                      >
                    </p>
                  </li>
                </ul>

                <!-- Rank holders section -->

                <div class="rankHoldTitle">
                  <h2>Rank Holders</h2>
                </div>

                <div class="rankSection">
                  <div class="rankSectionName">
                    <p>Computer Science & Engineering</p>
                  </div>

                  <div class="rankSectionCards">
                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank MCA</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/nisha.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Nisha Peter</p>
                        <p>2009</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/lija.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Lija Mohan</p>
                        <p>2009</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/rinku.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Rinku George</p>
                        <p>2012</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/kitty.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Kitty Kuriakose</p>
                        <p>2013</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank MCA</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sachithra.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sachithra Rani G.S</p>
                        <p>2014</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank M. Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/anly.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Anly Antony M</p>
                        <p>2015</p>
                      </div>
                    </div>
                  </div>

                  <div class="rankSectionName">
                    <p>Electronics & Comm. Engineering</p>
                  </div>

                  <div class="rankSectionCards">
                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/milu.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Milu Catherine Michael</p>
                        <p>2006</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/basil.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Basil Abraham</p>
                        <p>2008</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/lisha.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Lisha Shoby</p>
                        <p>2015</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/femey.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Femey Rose</p>
                        <p>2015</p>
                      </div>
                    </div>
                  </div>

                  <div class="rankSectionName">
                    <p>Mechanical Engineering</p>
                  </div>

                  <div class="rankSectionCards">
                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/hisham.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Hisham V J</p>
                        <p>2006</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/mahesh.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Mahesh H. Menon</p>
                        <p>2008</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/ravi.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Ravi Sankar H</p>
                        <p>2009</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/achuthan.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Achuthan Haridas</p>
                        <p>2011</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sarath.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sarath Krishnan</p>
                        <p>2015</p>
                      </div>
                    </div>
                  </div>

                  <div class="rankSectionName">
                    <p>Civil Engineering</p>
                  </div>

                  <div class="rankSectionCards">
                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/usha.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Ushamol P A</p>
                        <p>2006</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sreedevi.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sreedevi V M</p>
                        <p>2006</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/basilpaul.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Basil Paul</p>
                        <p>2007</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/teena.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Teena Mary</p>
                        <p>2012</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/fincybabu.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Fincy Babu</p>
                        <p>2012</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/shafnaps.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Shafnas P S</p>
                        <p>2013</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/lakshmipriya.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Lakshmi Priya</p>
                        <p>2013</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/jency.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Jency James</p>
                        <p>2015</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img src="/images/arsha.jpg" alt="" srcset="" />
                      </div>
                      <div class="rankCardName">
                        <p>Arsha Giri</p>
                        <p>2015</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank M.Tech</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/aleenajames.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Aleena James</p>
                        <p>2015</p>
                      </div>
                    </div>
                  </div>

                  <div class="rankSectionName">
                    <p>Automobile Engineering</p>
                  </div>

                  <div class="rankSectionCards">
                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sreejith.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sreejith Kumar P</p>
                        <p>2008</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/deepakHari.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Deepak Hari</p>
                        <p>2009</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/kishanG.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Kishan G Kammath</p>
                        <p>2009</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/hafispv.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Hafis P.V</p>
                        <p>2010</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sreejithS.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sreejith S</p>
                        <p>2010</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/ramanujamps.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Ramanujam P S</p>
                        <p>2011</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/hemanth.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Hemanth Siva</p>
                        <p>2011</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/royThomas.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Roy Thomas</p>
                        <p>2011</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>1st Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sohilPS.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sohil P S</p>
                        <p>2012</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sobinJoseph.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sobin Joseph</p>
                        <p>2012</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>2nd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/sreenivas.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Sreevas P</p>
                        <p>2013</p>
                      </div>
                    </div>

                    <div class="rankCard">
                      <div class="rankCardTitle">
                        <p>3rd Rank</p>
                      </div>
                      <div class="rankCardImg">
                        <img
                          src="/images/surjithSPal.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="rankCardName">
                        <p>Surjith S Pai</p>
                        <p>2013</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>