<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
            <!-- LEFT SECTION PARTIAL -->
            <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Director’s Message
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <div class="profileCard">
                  <div class="profileCardLeft">
                    <h3>Dr Praveensal C J</h3>
                    <h4>Group Director</h4>
                    <h4>SCMS Group of Educational Institutions</h4>
                  </div>
                  <img src="/images/director.jpg" alt="" srcset="" />
                </div>

                <div class="profParaContent">
                  <div class="profPara" style="margin-top: 0px">
                    <div class="profParaContent">
                      SCMS School of Engineering & Technology has already
                      established itself as one of the top technological
                      institutes in the country providing quality education to
                      students from all strata of society. SSET was established
                      in 2001 with a vision to be a centre of excellence in
                      providing technical education in harmony with the changing
                      global order. Over the years, SSET has performed
                      extraordinarily at various dignified platforms and the
                      students have registered numerous national podium finishes
                      and won accolades in different events. SSET offers a wide
                      variety of undergraduate, postgraduate and doctoral
                      programmes. We procure the support of a strong team of
                      faculty members who wholeheartedly put their efforts to
                      motivate our students and guide them to progress at every
                      step. In a conducive learning environment at our serene
                      campus we nurture a class with intellectual brilliance and
                      ethical excellence. We instill in them a positive value
                      system that shape their attitude, outlook and conduct that
                      provide a strong foundation for them to tackle the
                      challenges of life. SSET has a state-of-the art
                      infrastructure including the learning resource centre,
                      specialized laboratories and sports facilities. At SSET
                      students are expected to have an enriching and life
                      turning experience through various Tech cells, student
                      chapters and clubs which will enable them to reach new
                      heights in their professional life. The institute provides
                      a platform for the faculty and students to pursue their
                      interest in research activities and translate innovative
                      ideas to prototypesI am confident that SSET, with its rich
                      legacy, will continue to create world class engineers,
                      good human beings and worthy citizens of this great
                      country, India
                    </div>
                  </div>
                </div>

                <h2 class="profName ProfNameSub" style="margin-top: 10px">
                  Educational Qualifications
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p><b>Ph.D :</b> Human Factors Engineering, SOE, CUSAT</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p><b>M.Tech :</b> Production Engineering, SOE, CUSAT</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p><b>MBA :</b> Human Resource Management, MG University</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>B.Tech :</b> Mechanical Engineering, University of
                      Calicut
                    </p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Employment History
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Joined SCMS School of Engineering and Technology,
                      Karukutty, Kochi on 16-10-2001
                    </p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Research Interests
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Human Factors Engineering</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Safety Engineering</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Human Resource Management</p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Publications
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b
                        >“Determinants of job stress in Indian chemical process
                        industry: A factor analysis approach”,</b
                      >
                      Accepted for Publication in WORK: A Journal of Prevention,
                      Assessment & Rehabilitation, pp. 855-864, ISSN: 1051-9815
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b
                        >“Breakdown analysis of cutting facility in a
                        manufacturing industry”</b
                      >
                      , International Journal of Engineering Development and
                      Research, Volume 3, Issue 4, ISSN: 2321-9939.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b
                        >“Industrial safety and accident prevention: A
                        managerial appraoch”</b
                      >
                      , International Journal of Science, Engineering and
                      Technology Research , Volume 2, Issue 2, pp 406-410,
                      ISSN:2278-7798.
                    </p>
                  </li>
                </ul>

                <h2 class="profName ProfNameSub" style="margin-top: 20px">
                  Conferences
                </h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>“Health issues in mining industry”</b> , International
                      conference on materials for the future, 17th – 19th
                      January 2008 at Govt. Engineering College, Thrissur
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>