<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
             <!-- LEFT SECTION PARTIAL -->
             <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                SSET Grievance Redressal Committee
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                Grievance Redressal Committee at SSET has been constituted as
                per the AICTE notification F. No. AICTE/PG/2012/20/SRO/06/1143,
                dated 25-07-2012, with the objective of resolving the grievances
                of students, parents and others. The committee comprises of
                following members:

                <div class="GrievContactSec">
                  <div class="leftGrievSec">
                    <h2 class="profName ProfNameSub">Faculty Members</h2>
                    <ul>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Dr. Mini Tom, Professor, Dept. of BS</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Dr. Divya Nath. K., Assistant Professor, EE</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Ms. Sreeja.K. A., Assistant Professor, EC</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Mr. Aravind.P. V, Assistant Professor, AU</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Mr. Francis Thomas , Assistant Professor, ME</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Ms. Sindhya. K. Nambiar, Assistant Professor, CS</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Ms. Jesna K. Sebastain, Assistant Professor, BS&H</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>
                          Dr. Vidya Chandran, Associate Professor, Dept. of ME
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="veticalLineGrieveSec"></div>
                  <div class="rightGrievSec">
                    <h2 class="profName ProfNameSub">Student Members</h2>
                    <ul>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Mr.Abhishek A Menon,Dept. of ECE</p>
                      </li>

                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Ms. Hana Fathima, Dept. of CE</p>
                      </li>
                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Mr. Jeswin Joy C, Dept. of ME</p>
                      </li>

                      <li class="subPointText">
                        <img src="/images/bullet_point.png" alt="" srcset="" />
                        <p>Mr. Abdul Basith, Dept. of CE</p>
                      </li>
                    </ul>
                    <div
                      class="links"
                      style="margin-top: 40px; margin-left: 20px"
                    >
                      <a href="" class="viewProfBtn"
                        >Grievances Redressal System Login</a
                      >
                      <a href="" class="viewProfBtn">AICTE FEEDBACK</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>