<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    
    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
             <!-- LEFT SECTION PARTIAL -->
             <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Internal Complaints Committee
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                As per the Sexual Harassment at Workplace (Prevention,
                Prohibition and Redressal) Act, 2013, an Internal Complaints
                Committee has been constituted to prevent any form of sexual
                harassment in the institution. Internal Complaints Committee
                will examine all matters related to women in the institution and
                will make suggestions and proposals regarding such matters.
                'Sexual Harassment against women' in any form is an uncivilized
                act and hence it is strictly prohibited in this institution and
                any kind of such act will be viewed seriously by the Internal
                Complaints Committee constituted for the purpose.As per the
                Sexual Harassment at Workplace (Prevention, Prohibition and
                Redressal) Act, 2013, an Internal Complaints Committee has been
                constituted to prevent any form of sexual harassment in the
                institution. Internal Complaints Committee will examine all
                matters related to women in the institution and will make
                suggestions and proposals regarding such matters. 'Sexual
                Harassment against women' in any form is an uncivilized act and
                hence it is strictly prohibited in this institution and any kind
                of such act will be viewed seriously by the Internal Complaints
                Committee constituted for the purpose.

                <p style="margin-top: 20px">
                  <b style="font-weight: 500"
                    >The Internal Complaints committee comprises of following
                    members:</b
                  >
                </p>

                <h2
                  class="profName ProfNameSub ProfNameSubTltle"
                  style="color: #d85805"
                >
                  Chairperson
                </h2>
                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Dr. Mini Tom, Professor & Head , BS&H
                      <br />
                      Mobile - 9447710995, Email Id - minitom@scmsgroup.org
                    </p>
                  </li>
                </ul>

                <h2
                  class="profName ProfNameSub ProfNameSubTltle"
                  style="color: #d85805"
                >
                  Members
                </h2>
                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Ms. Deepa K, Associate Professor, MCA
                      <br />
                      Mobile - 9446503448, Email Id - Deepak@scmsgroup.org
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Ms. Jagadhamma M.P., Administrative Officer
                      <br />
                      Mobile - 9446836521, Emial Id - jagadhamma@scmsgroup.org
                    </p>
                  </li>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Dr. P.V Metilda, Retd.Principal, Maharajas College
                      <br />
                      Mobile - 9388605198, Email Id - matildamary@yahoo .com
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>