<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
            <!-- LEFT SECTION PARTIAL -->
            <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Management
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <div class="profileDetails">
                  <h2 class="profName">Dr. Subramanian Swamy</h2>
                  <h3 class="profDetails">
                    Chairman, SCMS Board of Governors (Former Minister of
                    Commerce and Justice, Govt. of India)
                  </h3>
                </div>

                <div class="profPara">
                  <div class="profImg">
                    <img
                      src="/images/swamy.jpg"
                      alt="Image of Dr. Subramanian Swamy"
                      srcset=""
                    />
                  </div>
                  <div class="profParaContent">
                    Dr. Subramanian Swamy, as the Chairman of Board of Governors
                    - SCMS through his vast experience as Professor at Harvard
                    University and IIT Delhi gives directions and guidance to
                    the Administrative team during his visits to the
                    institution. His academic contributions to the institution
                    through lecture series every year is treasured by both the
                    students and faculty community. Dr.Swamy has a Masters
                    degree in Statistics from the Indian Statistical Institute,
                    Calcutta, and a Bachelor Honours degree in Mathematics from
                    the University of Delhi. In 1964,he earned a doctorate in
                    Economics from Harvard, after having worked with Nobel
                    Laureate Simon Kuznets. He has jointly authored papers with
                    another Nobel Laureate Paul A Samuelson on theory of index
                    Numbers. Dr. Swamy taught Economics at Harvard over a number
                    of years (1963-9,1971,1973,1985-6). From 1969-91,for
                    twenty-two years, he was Professor of Economics at the
                    Indian Institute of Technology, New Delhi, till he resigned
                    the post in 1991,when he become India’s Cabinet Minister for
                    Commerce, Law & Justice. His high educational achievements
                    distinguishes Dr.Swamy from other political leaders in
                    India. From 2001 till 2011, Dr. Swamy had been teaching
                    Economics every summer at Harvard University. Dr.Swamy is
                    proficient in Tamil, Hindi, English and follows Chinese. As
                    commerce Minister (1990-1) he prepared the blueprints for
                    economic reforms that were implemented by the Narasimha Rao
                    government(1991-6). Former Prime Minister Dr. Manomohan
                    Singh had stated that Dr.Swamy was the first to envisage and
                    articulate the need for reforms in India The reorientation
                    of India’s foreign policy towards China from hostility to
                    normalized relations is widely ascribed in both countries to
                    Dr.Swamy’s untiring efforts in this direction until
                    recently.
                  </div>
                </div>

                <div class="profileDetails" style="margin-top: 70px">
                  <h2 class="profName">Dr. G P C Nayar</h2>
                  <h3 class="profDetails">Chairman, SCMS Group</h3>
                </div>

                <div class="profPara">
                  <div class="profImg">
                    <img
                      src="/images/chairman.jpg"
                      alt="Image of Dr. Subramanian Swamy"
                      srcset=""
                    />
                  </div>
                  <div class="profParaContent">
                    Promoters of SCMS Group are academicians with years of
                    experience in running professional institutions of
                    excellence in management and technology. A long march to a
                    glorious future was flagged off in 1976 with the
                    establishment of the Prathap Foundation for Education and
                    Training by Dr.G.P.C. Nayar at Kochi Dr. Nayar who held top
                    management positions with leading global corporate houses,
                    wished to impart quality education at affordable costs to
                    striving youngsters in India. The dream came true with the
                    establishment of the humble management institution – the
                    School of Communication and Management Studies (SCMS) in the
                    year 1976. Sharp focus on quality education soon gave an
                    edge to the institution. SCMS grew to become a center of
                    excellence for management and communication studies in a
                    very short span of time. Over the years ,the management of
                    SCMS Group under the visionary leadership of Dr.G.P.C. Nayar
                    has established various institutions of excellence and
                    national repute to offer professional education not only in
                    management but in engineering, technology , architecture ,
                    arts and science streams.
                  </div>
                </div>

                <h2 class="profName" style="margin-top: 30px">
                  Administration
                </h2>
                <div class="adminTeam">
                  <div class="adminTeamImage">
                    <img src="/images/admin-new-1.jpg" alt="" srcset="" />
                  </div>
                </div>

                <h2 class="profName" style="margin-top: 30px">
                  Administrative Members
                </h2>
                <div class="adminImages">
                  <div class="adminImg">
                    <div class="imgDiv">
                      <img src="/images/chairman.jpg" alt="" srcset="" />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Dr. G.P.C. Nayar</div>
                      <div class="imgTitleResgn">Chairman</div>
                    </div>
                  </div>

                  <div class="adminImg">
                    <div class="imgDiv">
                      <img src="/images/pramod-admin.jpg" alt="" srcset="" />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Prof. Pramod P. Thevannoor</div>
                      <div class="imgTitleResgn">Vice Chairman</div>
                    </div>
                  </div>

                  <div class="adminImg">
                    <div class="imgDiv">
                      <img
                        src="/images/gopakumar-admin.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Prof. S . Gopakumar</div>
                      <div class="imgTitleResgn">Senior Group Director</div>
                    </div>
                  </div>

                  <div class="adminImg">
                    <div class="imgDiv">
                      <img src="/images/radha-admin.jpg" alt="" srcset="" />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Dr. Radha P. Thevannoor</div>
                      <div class="imgTitleResgn">Group Director</div>
                    </div>
                  </div>

                  <div class="adminImg">
                    <div class="imgDiv">
                      <img src="/images/indu-admin.jpg" alt="" srcset="" />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Dr. Indu Nair</div>
                      <div class="imgTitleResgn">Group Director</div>
                    </div>
                  </div>

                  <div class="adminImg">
                    <div class="imgDiv">
                      <img src="/images/baiju-admin.jpg" alt="" srcset="" />
                    </div>
                    <div class="imgTitle">
                      <div class="imgTitleName">Dr. Baiju Radhakrishnan</div>
                      <div class="imgTitleResgn">Group Director</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>