<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
            <!-- LEFT SECTION PARTIAL -->
            <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                SSET Objectives
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <h2 class="sectionsubHeading">Towards Pursuit of Excellence</h2>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Creating an excellent academic ambience in the campus</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Developing a team of dedicated and motivated team of
                      faculty
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Providing excellent infrastructural facilities</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Strengthening consultancy, R & D and continuing education
                      activities
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Promoting Entrepreneurship Development Programmes</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Networking with national and international institutions of
                      higher learning
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Effective interfacing and synergy with industries</p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      Commencement of Post Graduate programmes in emerging areas
                      and setting up research programmes
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>Achieving NBA accreditation.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>