<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
             <!-- LEFT SECTION PARTIAL -->
             <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Principal’s Message
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <div class="profileCard">
                  <div class="profileCardLeft">
                    <h3>Dr.Anitha G.Pillai</h3>
                    <h4>Principal</h4>
                    <h4>SCMS School of Engineering & Technology</h4>
                    <a href="" class="viewProfBtn">View full profile</a>
                  </div>
                  <img src="/images/ed1.jpeg" alt="" style="height: 300px" />
                </div>

                <div class="profParaContent">
                  <div class="profPara" style="margin-top: 0px">
                    <div class="profParaContent">
                      Life in the whole can be visualized as a combination of
                      several fragments of sorrowful and joyous moments. The
                      nucleus of happiness for any person revolves around the
                      period during which one can express their thoughts fuelled
                      by friendship and unhindered by barriers emerging from
                      lack of knowledge, and where better to find that perfect
                      combination of friendship and knowledge augmentation than
                      an educational institution which falls under the umbrella
                      of SCMS group of institutions, which has been constantly
                      evolving in conformance with the dynamic changes witnessed
                      in the world of education since 1976. SCMS group took the
                      plunge into technical education in the year 2000 under the
                      able guidance of its visionary founder Dr GPC Nayar. Since
                      its inception, SSET has cultivated a mentor-protege
                      relationship that can be called nothing short of special,
                      which can be ascertained from the fact that alumni of SSET
                      can be found helming various organizations across the
                      globe with the highest degree of professionalism. The
                      Bachelor's, Master's and doctoral programmes offered at
                      SSET not only focuses on building the technical
                      proficiency of the students but also employ a skilful
                      approach of training that converges to the goal of
                      creating Engineers capable of adapting to any challenging
                      situation. Adhering to the aforementioned goal, budding
                      engineers from SSET take part in various national and
                      state-level competitions and have bagged prestigious
                      awards putting to display the fortitude of SSETs proud
                      assets - the students. As the Principal of this
                      prestigious institution, I can solemnly proclaim that SSET
                      will garner much more praise from the global engineering
                      fraternity for moulding passionate engineers.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>