<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
        <!-- LEFT SECTION PARTIAL -->
        <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Salient Features
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <h2 class="sectionsubHeading">Our Graduate Attributes</h2>
                <p>
                  SSET aims in inculcating the following graduate attributes
                </p>

                <ul>
                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Strong knowledge base for engineering:</b>
                      Demonstrate proficiency in mathematics, science and
                      fundamentals of engineering.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>In depth knowledge of the field of study:</b>
                      Sufficient breadth and depth of knowledge and
                      understanding of engineering subjects in respective
                      fields.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Problem Solving skills:</b>
                      Ability to identify, devise, analyze, and solve problems
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Investigate Engineering problems:</b>
                      Ability to conduct investigations of problems by methods
                      that include appropriate experiments, analysis and
                      interpretation of data and synthesis of information in
                      order to reach valid conclusions.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b> Designing solutions:</b>
                      Demonstrate efficacy in designing solutions for complex,
                      engineering problems and to design systems, components or
                      processes that meet specified needs with due attention to
                      economic, environmental, cultural, societal and global
                      considerations.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Utilize Modern Tools:</b>
                      Create, select and apply appropriate techniques, resources
                      and modern engineering and IT tools.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Individual and team work:</b>
                      An ability to work independently and as part of a team.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Interpersonal and Communication skills:</b>
                      Ability to communicate engineering concepts precisely and
                      effectively, not only with engineers but also with the
                      community at large. Such ability includes reading,
                      writing, speaking and listening, and the ability to
                      comprehend and write effective reports and design
                      documentation, and to give and effectively respond to
                      clear instructions.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Professionalism:</b>
                      An understanding of the roles and responsibilities of the
                      engineer in society, especially the primary role of
                      protection of the public and the public interest.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b> Safeguard Environment and Society:</b>
                      An ability to investigate social and aspects of
                      engineering activities.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b>Ethical Values:</b>
                      Ability to function as responsible individuals with
                      ethical accountable to society at large.
                    </p>
                  </li>

                  <li class="subPointText">
                    <img src="/images/bullet_point.png" alt="" srcset="" />
                    <p>
                      <b> Life-long learning:</b>
                      To be enthusiastic and eager for undertaking life-long
                      learning the continual updating of engineering skills and
                      further to contribute to the advancement of knowledge
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>
