<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img src="/images/college_image.png" alt="" class="banner-img" />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
        <!-- LEFT SECTION PARTIAL -->
        <%- include('../partials/aboutNav') %>

        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                SC/ST Monitoring Committee
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <div class="SCSTMain">
                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Chairman</p>
                    </div>
                    <div class="SCSTName">
                      <p>Dr. Praveensal C J (Principal - SSET)</p>
                    </div>
                  </div>

                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Secretary</p>
                    </div>
                    <div class="SCSTName">
                      <p>Dr.Anitha G.Pillai ( Dean , Academic Affairs )</p>
                    </div>
                  </div>

                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Male Faculty Member</p>
                    </div>
                    <div class="SCSTName">
                      <p>Mr. Nikhil Asok (Asst. Prof., Dept. of ME)</p>
                      <hr />
                      <p>Mr. Varun Jose (Asst. Prof., Dept. of EEE)</p>
                    </div>
                  </div>

                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Lady Faculty Member</p>
                    </div>
                    <div class="SCSTName">
                      <p>Mrs. Parvathy R (Asst. Prof., Dept. of ECE)</p>
                    </div>
                  </div>

                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Administrative Officer</p>
                    </div>
                    <div class="SCSTName">
                      <p>Mrs. Jagadhamma M.P</p>
                    </div>
                  </div>

                  <div class="SCSTBox">
                    <div class="SCSTResgn">
                      <p>Student Members</p>
                    </div>
                    <div class="SCSTName">
                      <p>Mr. Sharondas V., Dept. of ME</p>
                      <hr />
                      <p>Ms. Shrevya Pradeep, Dept. of CE</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>
