<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/about/aboutStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">
      <div class="banner-img-conatiner">
        <div class="banner-img-wrapper">
          <img
            src="/images/college_image.png"
            alt="College Image"
            class="banner-img"
          />
          <div class="collegeNameHeadingBg"></div>
          <h1 class="collegeNameHeading">
            SCSM School of Engineering and Technology
          </h1>
        </div>
      </div>

      <div class="content-wrapper">
        <!-- LEFT SECTION PARTIAL -->
        <%- include('../partials/aboutNav') %>
        <div class="right-section">
          <div class="white-box-container">
            <div class="white-box-wrapper">
              <!-- write your code here -->
              <h2 class="sectionHeading">
                Vision & Mission
                <div class="sectionHeadingUnderline"></div>
              </h2>

              <div class="sectionContent">
                <div class="sectionContentBox">
                  <div class="iconDiv">
                    <img src="/images/vision.png" alt="vision" srcset="" />
                  </div>
                  <div class="verticalLine"></div>
                  <div class="contentSec">
                    <h4 class="contentSecTitle">Vision</h4>
                    <p class="contentSecPara">
                      To be a centre of excellence in providing technical
                      education in harmony with the changing global order.
                    </p>
                  </div>
                </div>

                <div class="sectionContentBox">
                  <div class="iconDiv">
                    <img src="/images/mission.png" alt="mission" srcset="" />
                  </div>
                  <div class="verticalLine"></div>
                  <div class="contentSec">
                    <h4 class="contentSecTitle">Mission</h4>
                    <p class="contentSecPara">
                      To offer technology related education of exceptional
                      quality to students by developing their total personality
                      with due emphasis on ethical values and preparing them to
                      meet the growing challenges of the industry and human
                      society
                    </p>
                  </div>
                </div>

                <div class="sectionContentBox">
                  <div class="iconDiv">
                    <img src="/images/quality.png" alt="quality" srcset="" />
                  </div>
                  <div class="verticalLine"></div>
                  <div class="contentSec">
                    <h4 class="contentSecTitle">Quality Policy</h4>
                    <p class="contentSecPara">
                      SCMS School of Engineering and Technology (SSET) is
                      envisaged as a premier institution offering technology
                      related education of exceptional quality to students by
                      developing their total personality with due emphasis on
                      ethical values and preparing them to meet the growing
                      challenges of the industry and diverse societal needs of
                      the institution.
                    </p>
                  </div>
                </div>

                <div class="sectionContentBox">
                  <div class="iconDiv">
                    <img src="/images/Integrity.png" alt="" srcset="" />
                  </div>
                  <div class="verticalLine"></div>
                  <div class="contentSec">
                    <h4 class="contentSecTitle">Integrity Pledge</h4>
                    <p class="contentSecPara">
                      Corruption Free India - Integrity Pledge
                    </p>
                    <div class="downloadBtnBox">
                      <a href="" class="downloadBtnA">
                        <div class="downloadBtn">
                          Integrity pledge for citizens
                        </div>
                      </a>
                      <a href="" class="downloadBtnA">
                        <div class="downloadBtn">
                          Integrity pledge - Organozation
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>
