<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/campus/councelling.css">

</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>


    <div class="container">
 <div class="content-wrapper">
    <div class="box">
        <div class="box1">
            <div class="left-section">
                <div class="orange-nav-box-container">
                   
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a class="active" href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="box1">
            <div class="leftdown-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                            
                        <img src="public/images/ms.mufeeda.png" alt="" class="image">
                        
                
                        
                        <h3>MS.MUFEEDA M Y</h3>
                        <br>
                        <p>STUDENT'S COUNSELLOR</p> 
                        <p>COUNSELLING PSYCHOLOGY</p>
                        <br>
                            
                        <p>SCMS SCHOOL OF ENGINEERING AND TECHNOLOGY,KERALA,INDIA,683582</p>
                        <p>EMAIL: mufeeda@scmsgroup.org</p> 
                        <p>Tel: 0484-2450330 Extn-133</p>
                            
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="box">

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <h3>COUNSELLING AND GUIDANCE</h3>
                            <br>
                            <p>Counselling Psychology is a specialty within professional psychology that maintains a focus on facilitating personal and interpersonal functioning across the life span. The specialty pays particular attention to emotional, social, vocational, educational, healthrelated, developmental, and organizational concerns.</p>
                            <br>
                            <p>In SCMS school of engineering and technology, counselling psychologist help people with physical, emotional and mental health issues improve their sense of well‐being, alleviate feelings of distress, resolve crises, and provide assessment, diagnosis, treatment of more severe psychological symptoms. Counselling service also have extensive expertise in working with students in relation with psychological wellbeing; understanding that sometimes you may simply need to talk, while at other times you may want to address more complex issues in your personal life, in your academic experience, along with significant emotional and mental health challenges.</p>
                            <br>
                            <p>Counselling service is confidential, free and available to all currently enrolled Students and Staff.</p>
                            <br>
                            <h3><center>ROLES AND RESPOSIBILITIES</center></h3>
                           <div class="bullet">
                            <h4>
                            <ul>
                                <div style="text-transform: uppercase;">
                                <li>Listen to students' concerns about academic, emotional or social problems</li>
                                <li>Help students process their problems and plan goals and action</li>
                                <li>Mediate conflict between students and teachers</li>
                                <li>Improve parent/teacher relationships</li>
                                <li>Facilitate drug and alcohol prevention programs</li>
                                <li>Organize peer counselling programs</li>
                                <li>Refer students to other mental health resources if necessary</li>
                                <li>Work on academic boards to improve learning conditions</li></div></ul>
                            </h4>
                           </div>
                            <br>
                            <h3><center>COMMONLY ADOPTED INTERVENTIONS</center></h3>
                            <div class="bullet">
                            <h4>
                            <ul>
                                <div style="text-transform: uppercase;">
                                <li>Positive Reinforcement</li>
                                <li>Negative Reinforcement</li>
                                <li>Neuro-Linguistic Programming (NLP)</li>
                                <li>Meditation</li>
                                <li>Cognitive Behavioural Therapy (CBT)</li>
                                <li>Parent Management Training</li>
                                <li>Exposure Therapy</li>
                                <li>Systematic Desensitization</li>
                                <li>Assertive Training</li>
                                <li>Progressive muscle relaxation</li> 
                            </div></ul>
                            </h4>
                            </div>
                            


                    </div>
                </div>
            </div>

        </div>
        </div>
    

        
           
               
            
        
    </div>   
    
    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>