<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/campus/facilities.css">

</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a class="active" href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <div class="cont">
                            <div class="container1">
                                <div class="wrapper1">
                                    <div class="text1">
                                       <p>HOSTELS</p>
                                    </div>
                                    <div class="icon1">
                                         <i class="fas fa-arrow-right"></i>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="container1">
                                <div class="wrapper1">
                                    <div class="text1">
                                       <P>TRANSPORTATION</P>

                                    </div>
                                    <div class="icon1">
                                        <i class="fas fa-arrow-right"></i>

                                    </div>
                                
                                </div>
                            </div>
                            <div class="container1">
                                <div class="wrapper1">
                                    <div class="text1">
                                        <P>COLLEGE STORE</P>

                                    </div>
                                    <div class="icon1">
                                        <i class="fas fa-arrow-right"></i>

                                    </div>
                                
                                </div>
                            </div>
                            <div class="container1">
                                <div class="wrapper1">
                                    <div class="text1">
                                        <P>CANTEEN</P>
                                        

                                    </div>
                                    <div class="icon1">
                                        <i class="fas fa-arrow-right"></i>

                                    </div>
                                
                                </div>
                            </div>
                            <div class="container1">
                                <div class="wrapper1">
                                    <div class="text1">
                                        <P>BANK</P>
                                       
                                    </div>
                                    <div class="icon1">
                                        <i class="fas fa-arrow-right"></i>

                                    </div>

                                
                                </div>
                            </div>
                            </div>






                    </div>
                </div>
            </div>

        </div>
        <div class="content-wrapper">
         <div class="down-section">
            <div class="white-box-container">
                <div class="white-box-wrapper">
                    <h3><center>FACILITIES</center></h3>
                    <h4>HOSTELS</h4>
                    <P>Separate hostels for men and women are available in the campus. The Men's Hostels can accommodate 489 students and the Ladies' Hostel can accommodate 390 students. There is a separate hostel for first year boys inside the campus. Security personnel have been deployed at the hostels round the clock.</P>
            
            <div class="cont1">
               <div class="imagee">
                        <img src="public/images/clg-hostel.jpg" alt="" class="banner1-img">
               </div>
               <div class="imagee">
                        <img src="public/images/hostel2.jpg" alt="" class="banner1-img">
            </div>
            </div>
            <div class="cont1">
                
            <div class="imagee">
                <div class="lis">
                <h5>HOSTEL FACILITIES</h5>
                <ul>
                    <li>Water purifiers for constant supply of safe drinking water</li>
                    <li>Room with cable TV</li>
                    <li>Computer Centre with Internet Facility</li>
                    <li>Indoor games like table tennis, carroms and chess</li>
                    <li>Backup power using sound proof diesel generator</li>
                    <li>Magazines/newspaper in every block</li>
                    <li>Badminton courts, Geyser for Hot water supply</li>
                    <li>First aid facility</li>
                    <li>Top rainwater harvesting structures for water recharging</li></ul>
                </div>
            </div>
            <div class="imagee">

                <img src="public/images/hostel3.jpg" alt="" class="banner1-img">
            </div>
            
                </div>
                
                <h4>TRANSPORTATION</h4>
                <P>A fleet of 22 college buses is provided for students and staff and plies to Thoppumpadi, Tripunithura, Kakkanad, Ernakulam, Kodungallur , Perumbavoor and Thrissur which covers all pick up points of the city and scheduled as per the convenience of class timings for staff and students. Separate college buses are provided for first year students.</P>
                <img src="public/images/clg-bus.jpg" alt="" class="banner1-img">
                <h4>CANTEEN</h4>
                <P>A state of the art cafeteria with a most modern centralized food production facility is also in place which serves both vegetarian and non-vegetarian (Halal meat) items. It has an area of 1300 m2 which is spacious enough to accommodate 500 students comfortably at a time. The canteen timings are staggered for first and senior years so that the new students are free to move in the campus.</P>
                <img src="public/images/clg-canteen.jpg" alt="" class="banner1-img">
                <h4>COLLEGE STORE</h4>
                <P>Stationery and books required by the students are made available through the College Store. Reprographic Centre attached to the store caters the requirementsof photocopying, scanning, binding reports etc</P>
                <img src="public/images/clg-store.jpg" alt="" class="banner1-img">
                <h4>BANK</h4>
                <P>Palissery Branch of Union Bank of India and its ATM operates in the campus</P>
                <img src="public/images/clg-bank.jpg" alt="" class="banner1-img">
                <h5>UNION BANK OF INDIA</h5>
                 <p>Palissery Branch</p> 
                  <p>SCMS School of Engineering and Technology,Vidyanagar</p>
                   <p>Palissery, Karukutty, Ernakulam, Kerala 683576 </p>
                   <p>Phone: 0484 243 9029 , IFSC Code: UBIN0558885</p>
    
            </div>
                   
            
            
            

            </div>

         </div>
         </div>
        </div>

    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>