
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/campus/overview.css">
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        <div class="banner-img-conatiner">
            <div class="banner-img-wrapper">
                <img src="/images/scms (4).jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a class="active" href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <h3>CAMPUS OVERVIEW</h3>
                            <br>
                            <P>The SSET has established state of the art facilities on a sprawling 29 acre campus at Karukutty in Ernakulam district.Salient features are beautiful village atmosphere with no air pollution,greenary surroundings ,Eco-friendly and efficient water harvesting and recycling systems.Buildings and play grounds are constructed with out affecting the greenery and natural landscape of the land.</P>
                            <br>
                            <br>
                            <div class="box">
                            <div class="rectangle">
                            <p>The College Campus is located at Vidyanagar, Palissery, Karukutty. It is 37 km from Kochi, 5 km East of NH-47 from Adlux international convention centre, Cochin</p>
                            </div>
                            <br>
                        
                    
                            <div class="rectangle">
                            <ul>
                                <li>9 km from Karukutty Railway Station. 20 km from Kochi International Airport.</li>
                                <li>6 km from bus-stop at Karukutty on National Highway.</li>
                                <li>Bus Stop in front of college for Angamali and Chalakkudy</li>
                            </ul>
                            </div>
                            </div>
                           


                    </div>
                </div>
            </div>
            

            

        </div>

    
    
        <div class="content-wrapper">
            <div class="leftdown-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">
                            <h3>SCAN THE QR CODE</h3> 
                            <h3>AND REACH SSET</h3>
                            <br>
                            <br>
                            <img src="/images/qr_code.jpg" alt="" class="banner-img">
                        </div>
                    </div>
            </div>
            <div class="rightdown-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">
                        <div class="map">
                        <h3><CENTER>HAVE A SAFE DRIVE</CENTER></h3>
                        </div>
                        <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.9014938693103!2d76.39809741485452!3d10.26952047115308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08011a49506827%3A0x7f47e0e624b0bd22!2sSCMS%20School%20of%20Engineering%20%26%20Technology%20%2C%20Karukutty!5e0!3m2!1sen!2sin!4v1678208334430!5m2!1sen!2sin" width="889" height="500"  style="border:0;border-radius: 10px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>
</html>