<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/campus/sewage.css">

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>


    <div class="container">

    

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a class="active" href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <h3>SEWAGE TREATMENT PLANT</h3>
                            
                            <div class="banner-img-conatiner">
                                <div class="banner-img-wrapper">
                                    <img src="/images/sewage_treatment_plant.jpg" alt="" class="banner-img">
                                </div>
                            </div>
                            
                            
                                
                            <br>
                            <p>Sewage Treatment Plant at SSET campus treat 1 lakh litres (100 KLD) of waste water generated daily from canteen, academic blocks and hostels. The waste water is biologically treated using an upflow anaerobic filter unit followed by aerobic Moving Bed Biofilm Reactor (MBBR). The water after biological treatment is disinfected and filtered through a sand filter and activated carbon filter for improving the quality of treated waste water to the prescribed standards of State pollution control board. The treated waste water is then reused for irrigating rubber plantations and beautifully landscaped gardens in the campus.</p>
                            <br>
                            <div class="row">
                            <div class="column">
                               <h4>Faculty - in - Charge</h4>
                                <p>Dr. Ratish Menon</p>
                                <p>Email: ratishmenon@scmsgroup.org</p>
                                <p>Mobile: 974608 3929</p>
                            </div>
                            <div class="column">
                                <h4>Plant - in - Charge</h4>
                                 <p>Mr. Eldho Abraham</p>
                                 <p>Email: eldho@scmsgroup.org</p>
                                 <p>Mobile: 9495304753</p>
                             </div>
                            </div>
                            
                                         
                            
                           
                            


                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>