<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>


</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container">

        

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a class="active" href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <h3>SOFT SKILLS AND PERSONALITY DEVELOPMENT</h3>
                            <br>
                            <p>A large percentage of young people preparing to enter the workforce over the next two decades are significantly lacking in the “soft” or applied skills such as teamwork, decision-making, and communication that will help them become effective employees and managers. While credentials are important, it is the development of soft skills that is critical to developing a strong, vibrant workforce .These skills include critical thinking/problem solving, leadership, professionalism/work ethic, teamwork/collaboration, and adaptability/flexibility. In an attempt to equip students to meet the challenges of workplace, our college has introduced training programmes like Soft skills, Personality and communication skill development training.</p>
                            <br>
                            <p>Building confidence, analysing situations and taking appropriate decisions with courage of conviction etc. are all very important for a successful life. Many students are not capable of handling any unexpected situation at the workplace. We aim at boosting their confidence and helping them build relationships</p>
                            <br>
                            <p>Several Career guidance program, reasoning tests, aptitude tests, Puzzle Solving, Group Discussions, Mock Interviews, Brain Storming Sessions, Core Discussion, Communication Skills and sharing their experiences etc., are organized on regular basis in order to motivate and develop the personality of the students. Before the commencement of campus recruitment drives, mock interviews are conducted to face the interviews successfully.</p>
                            <br>
                            <h4><p style="text-transform: uppercase;">Professional training groups carry out the training programs in the following areas</p></h4>
                           <div class="training">
                            <h4>
                                <ul>
                                    <div style="text-transform: uppercase;">
                                    <li>Interview skill training</li>
                                    <li>Communication Skill Enhancement</li>
                                    <li>CV Preparation</li>
                                    <li>Effective Placement Training (includes Personality Development Program)</li>
                                    <li>Aptitude Tests</li>
                                    <li>Group Discussions</li>
                                    <li>Mock Interviews</li>
                                    <li>Communicative English</li>
                                    <li>Conducting "Career Guidance Program" for all the Pre Final Years.</li>
                                    </div>
                                </ul>
                            </h4> 
                    </div>
                            <br> 
                            <p>The activities are proved exceptionally useful in shaping the career of the student</p>  
                           
                            


                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>