<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    

</head>

<body>


    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>



    <div class="container">

        

        <div class="content-wrapper">

            <div class="left-section">
                <div class="orange-nav-box-container">
                    <ul class="orange-nav-box-wrapper">
                        <li class="orange-box-text"><a href="/campus">OVERVIEW</a></li>
                        <li class="orange-box-text"><a class="active" href="/campus/systemofteaching">SYSTEM OF TEACHING</a></li>
                        <li class="orange-box-text"><a href="/campus/softskill">SOFT SKILLS AND PERSONALITY DEVELOPMENT</a></li>
                        <li class="orange-box-text"><a href="/campus/councelling">COUNSELLING AND GUIDANCE</a></li>
                        <li class="orange-box-text"><a href="/campus/facilities">FACILITIES</a></li>
                        <li class="orange-box-text"><a href="/campus/sewagetreatment">SEWAGE TREATMENT PLANT</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-section">
                <div class="white-box-container">
                    <div class="white-box-wrapper">


                            <!-- write your code here -->
                            <h3>SYSTEM OF TEACHING</h3>
                            <br>
                            <p>The greatest asset of SSET is the quality and commitment of its faculty. The College has a team of well-qualified and highly motivated faculty whose prime concern is the betterment of the student community. Their level of commitment and sincerity is reflected in the excellent academic performance of our students in the University examinations.</p>
                            <br>
                            <p>The team of faculty at SSET is a fine blend of highly acclaimed academicians who have years of teaching experience behind them in technical institutions and a group of dynamic youngsters who have a passion for teaching</p>
                            <br>
                            <p>This group of youngsters under the able guidance of the senior faculty members have been performing exceptionally well in teaching assignments as well as in guiding student community.</p>
                            <br>
                            <p>Apart from the conceptual inputs provided in the class rooms students are encouraged to supplement the knowledge so gained by applying it to practical situations in the various laboratories. The faculty is always there to support them in such practical sessions. The College offers high quality technical education liaising closely with the industry in the state. This provides avenues for students to develop technical skills by updating knowledge on engineering and science subjects and also help them in gaining insights into real world experience.</p>
                           
                            


                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>

</body>

</html>