@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.admsContainer {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admsTitleBox {
  width: 80%;
  text-align: center;
  background-color: whitesmoke;
  padding: 10px 20px 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admsTitleBox h1 {
  font-size: 50px;
  color: #434343;
}
.admsTitleBox span {
  color: #f68237;
}

.admsLinkBox {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.admsLinkBtns {
  width: 200px;
  padding: 3px 15px 3px;
  border: 1px solid #f68237;
  border-radius: 25px;
  margin: 10px 15px 0px;
  text-align: center;
  font-weight: 500;
  transition: 0.5s;
}

.btnA {
  background-color: #f68237;
  color: white;
}
.btnB {
  background-color: white;
  color: #f68237;
}

.btnA:hover {
  background-color: #e26d20;
}

.btnB:hover {
  background-color: #f68237;
  color: white;
}

.admsCourseBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.admsCourseCard {
  border: 1px solid #4343433b;
  border-radius: 5px;
  margin: 10px 10px 2px;
  background-color: whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* height: 240px; */
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.admsCourseCard:hover {
  background-color: rgb(236, 235, 235);
  scale:1.06;
}
.paddingStyle {
  padding: 10px;
}
.admsApplyBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #434343;
  border-radius: 25px;
  padding: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.admsApplyBtn i {
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  margin-left: 10px;
  font-size: 20px;
}

.admsApplyBtn:hover > i {
  color: white;
}
.admsApplyBtn:hover {
  background-color: #434343;
  color: white;
}
.admsCourseCard h1 {
  font-size: 23px;
  font-weight: 500;
}

.admsCourseCard img {
  width: 240px;
  height: 180px;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.admsCourseCard span {
  font-size: 13px;
  font-weight: 500;
  color: #f68237;
}

.admsHotlineBox {
  margin-top: 20px;
}
.admsHotlineBox,
.admsHotlineNumbersBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.admsHotlineBox h2 {
  font-size: 18px;
  font-weight: 600;
  color: #f68237;
}

.admsHotlineNumbersBox {
  border: 1px solid #f68237;
  padding: 3px 10px 3px;
  border-radius: 25px;
  margin-left: 10px;
}
.admsHotlineNumbersBox p,
.admsHotlineNumbersBox i {
  color: #f68237;
  margin: 0px 10px 0px;
}

/* Responsive Code */

/* Large */
@media (width<1200px) {
    
}
/* Medium */
@media (width<992px) {

}
/* Small */
@media (width<768px) {
  .admsTitleBox h1 {
    font-size: 35px;
  }
}
/* Extra small */
@media (width<576px){
  .admsTitleBox h1 {
    font-size: 30px;
  }
}