<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/admission/admissionStyle.css" />
  </head>

  <body>
    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

    <div class="container admsContainer">
      <div class="admsTitleBox">
        <h1>ADMISSION <span>2023</span> IS LIVE!</h1>
      </div>

      <div class="admsLinkBox">
        <a href="" class="admsLinkBtns btnA">ENQIRE NOW</a>
        <a href="" class="admsLinkBtns btnB">Download Brochure</a>
      </div>
      <div class="admsCourseBox">
        <div class="admsCourseCard">
          <img src="./images/admsIcon.png" alt="" />
          <div class="paddingStyle">
            <h1>B.Tech</h1>
            <a href="" class="admsApplyBtn">
              Apply Now
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
        <div class="admsCourseCard">
          <img src="./images/admsIcon.png" alt="" />
          <div class="paddingStyle">
            <h1>B.Tech <span>Lateral Entry</span></h1>
            <a href="" class="admsApplyBtn">
              Apply Now
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
        <div class="admsCourseCard">
          <img src="./images/admsIcon.png" alt="" />
          <div class="paddingStyle">
            <h1>M.Tech</h1>
            <a href="" class="admsApplyBtn">
              Apply Now
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
        <div class="admsCourseCard">
          <img src="./images/admsIcon.png" alt="" />
          <div class="paddingStyle">
            <h1>MCA</h1>
            <a href="" class="admsApplyBtn">
              Apply Now
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="admsHotlineBox">
        <h2>Admission Hotline</h2>
        <div class="admsHotlineNumbersBox">
          <p><i class="bi bi-telephone"></i>70347 80072</p>
          <p><i class="bi bi-telephone"></i>70347 80074</p>
          <p><i class="bi bi-telephone"></i>70347 80073</p>
        </div>
      </div>
    </div>

    <!-- FOOTER PARTIAL -->
    <%- include('../partials/footer') %>
  </body>
</html>
