<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/alumni/alumni.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

        <div class="container">

            <div class="banner-img-conatiner">
                <div class="banner-img-wrapper">
                    <img src="/images/alumni-banner.png" alt="" class="banner-img">
                </div>
            </div>

            <div class="content-wrapper">

                <div class="left-section">
                    <div class="orange-nav-box-container">
                        <ul class="orange-nav-box-wrapper">
                            <li class="orange-box-text"><a href="/alumni">OVERVIEW</a></li>
                            <li class="orange-box-text"><a class="active" href="/alumni/association">ASSOCIATION</a>
                            </li>
                            <li class="orange-box-text"><a href="/alumni/organization">ORGANIZATION</a></li>
                            <li class="orange-box-text"><a href="/alumni">CHAPTERS</a></li>
                            <li class="orange-box-text"><a href="/alumni">EVENTS</a></li>
                            <li class="orange-box-text"><a href="/alumni">PROMINENT-ALUMNI</a></li>
                            <li class="orange-box-text"><a href="/alumni/startups">START-UPS</a></li>
                        </ul>
                        <div class="orange-nav-box-wrapper">
                            <button class="alu-reg-button textbox">REGISTER NOW</button>
                        </div>
                    </div>
                </div>

                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">


                            <p class="page-heading textbox">ALUMNI ASSOCIATION - ENOSIS</p>
                            <div class=" main-text-box textbox">The administration of the SCMS Alumni Association is
                                vested
                                with the Executive Committee consisting of the President, Secretary, Treasurer, Vice
                                President and Joint Secretary and six members. The Committee is responsible for the
                                affairs of the Association. The registered office of the Association is SCMS Campus,
                                Prathap Nagar, Muttom, Aluva.

                                <img src="/images/alu-association.png" alt="ALUMNI ASSOCIATION - ENOSIS"
                                    class="central-image">

                            </div>


                        </div>
                    </div>
                </div>

            </div>



        </div>

        <%- include('../partials/footer') %>


</body>

</html>