<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/alumni/alumni.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

        <div class="container">

            <div class="banner-img-conatiner">
                <div class="banner-img-wrapper">
                    <img src="/images/alumni-banner.png" alt="" class="banner-img">
                </div>
            </div>

            <div class="content-wrapper">

                <div class="left-section">
                    <div class="orange-nav-box-container">
                        <ul class="orange-nav-box-wrapper">
                            <li class="orange-box-text"><a href="/alumni">OVERVIEW</a></li>
                            <li class="orange-box-text"><a href="/alumni/association">ASSOCIATION</a></li>
                            <li class="orange-box-text"><a class="active" href="/alumni/organization">ORGANIZATION</a>
                            </li>
                            <li class="orange-box-text"><a href="/alumni">CHAPTERS</a></li>
                            <li class="orange-box-text"><a href="/alumni">EVENTS</a></li>
                            <li class="orange-box-text"><a href="/alumni">PROMINENT-ALUMNI</a></li>
                            <li class="orange-box-text"><a href="/alumni/startups">START-UPS</a></li>
                        </ul>
                        <div class="orange-nav-box-wrapper">
                            <button class="alu-reg-button textbox">REGISTER NOW</button>
                        </div>
                    </div>
                </div>

                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">



                            <p class="page-heading textbox">FACULTY COORDINATORS</p>
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th>Name</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Email ID</th>
                                        <th>Contact No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Dr. Anitha G Pillai</td>
                                        <td>Dean Academics</td>
                                        <td>Civil Engineering</td>
                                        <td>anithagpillai@scmsgroup.org</td>
                                        <td>9497775295</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Vipin Raj P. G.</td>
                                        <td>Asst. Professor</td>
                                        <td>Automobile Engineering</td>
                                        <td>vipinraj@scmsgroup.org</td>
                                        <td>9847890226</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Merin Mathew</td>
                                        <td>Asst. Professor</td>
                                        <td>Civil Engineering</td>
                                        <td>merinmathew@scmsgroup.org</td>
                                        <td>9847498570</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Lakshmi Priya</td>
                                        <td>Asst. Professor</td>
                                        <td>Civil Engineering</td>
                                        <td>lakshmipriya@scmsgroup.org</td>
                                        <td>9995870682</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Soniya Jose</td>
                                        <td>Asst. Professor</td>
                                        <td>Computer Science & Engineering</td>
                                        <td>soniyajose@scmsgroup.org</td>
                                        <td>9995201302</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Sonal Ayyappan</td>
                                        <td>Asst. Professor</td>
                                        <td>Computer Science & Engineering</td>
                                        <td>sonal@scmsgroup.org</td>
                                        <td>9447747061</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Nisha S Raj</td>
                                        <td>Asst. Professor</td>
                                        <td>Computer Science & Engineering</td>
                                        <td>nishasraj@scmsgroup.org</td>
                                        <td>9746942725</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Varun Jose</td>
                                        <td>Asst. Professor</td>
                                        <td>Electrical & Electronics Engineering</td>
                                        <td>varunjose@scmsgroup.org</td>
                                        <td>8113980768</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Praveena S Kammath</td>
                                        <td>Asst. Professor</td>
                                        <td>Electronics & Communication Engineering</td>
                                        <td>praveenakamath@scmsgroup.org</td>
                                        <td>8129542585</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Sreeja K A</td>
                                        <td>Asst. Professor</td>
                                        <td>Electronics & Communication Engineering</td>
                                        <td>sreejaka@scmsgroup.org</td>
                                        <td>9746265253</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Sam Joshy</td>
                                        <td>Asst. Professor</td>
                                        <td>Mechanical Engineering</td>
                                        <td>samjoshy@scmsgroup.org</td>
                                        <td>9946226732</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Manoj Kalathil</td>
                                        <td>Asst. Professor</td>
                                        <td>Mechanical Engineering</td>
                                        <td>manojkalathil@scmsgroup.org</td>
                                        <td>9446431513</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>



        </div>

        <%- include('../partials/footer') %>


</body>

</html>