<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/alumni/alumni.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

        <div class="container">

            <div class="banner-img-conatiner">
                <div class="banner-img-wrapper">
                    <img src="/images/alumni-banner.png" alt="" class="banner-img">
                </div>
            </div>

            <div class="content-wrapper">

                <div class="left-section">
                    <div class="orange-nav-box-container">
                        <ul class="orange-nav-box-wrapper">
                            <li class="orange-box-text"><a class="active" href="/alumni">OVERVIEW</a></li>
                            <li class="orange-box-text"><a href="/alumni/association">ASSOCIATION</a></li>
                            <li class="orange-box-text"><a href="/alumni/organization">ORGANIZATION</a></li>
                            <li class="orange-box-text"><a href="/alumni">CHAPTERS</a></li>
                            <li class="orange-box-text"><a href="/alumni">EVENTS</a></li>
                            <li class="orange-box-text"><a href="/alumni">PROMINENT-ALUMNI</a></li>
                            <li class="orange-box-text"><a href="/alumni/startups">START-UPS</a></li>
                        </ul>
                        <div class="orange-nav-box-wrapper">
                            <button class="alu-reg-button textbox">REGISTER NOW</button>
                        </div>
                    </div>
                </div>

                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">



                            <div class="introbox">
                                <div class="short-text-box textbox">Stands By Alma Mater, Always</div>
                                <div class="intro textbox">SSET maintains an affable relationship with alumni by
                                    dedicatedly
                                    facilitating alumni chapters and holding alumni meets. Students of SSET have
                                    organized
                                    alumni associations in all major cities of India. They have been a source of
                                    strength to
                                    SSET as they are the ones who spread the name of our institution far and wide as a
                                    centre of excellence.</div>
                            </div>
                            <div class="main-text-box textbox">
                                <p>

                                    A large number of our former students are working in many West Asian Countries. A
                                    substantial number is in United Arab Emirates (UAE), particularly in Dubai and Abu
                                    Dhabi. ASSET is an alumni-socio-cultural organization featuring the pass-outs of
                                    SSET
                                    residing in U.A.E. It is the first overseas chapter of the SSET with headquarters in
                                    Dubai.</p>
                                <br>
                                <p>ASSET was formed on 17th April 2009, within a short span of 4 years from the date
                                    of first year pass-outs. This success comes up with the positive attitude and
                                    togetherness of all the proud members of the Alumni. Alumni are also invited to
                                    deliver
                                    talks at the institute and to interact with the existing student clientele. Apart
                                    from
                                    the gathering the Alumni also aims hands-on charitable services with other
                                    associations
                                    in U.A.E.</p>
                            </div>


                        </div>
                    </div>
                </div>

            </div>



        </div>

        <%- include('../partials/footer') %>


</body>

</html>