<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HEAD PARTIAL -->
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/alumni/alumni.css" />
</head>

<body>

    <!-- HEADER PARTIAL -->
    <%- include('../partials/header') %>

        <div class="container">

            <div class="banner-img-conatiner">
                <div class="banner-img-wrapper">
                    <img src="/images/alumni-banner.png" alt="" class="banner-img">
                </div>
            </div>

            <div class="content-wrapper">

                <div class="left-section">
                    <div class="orange-nav-box-container">
                        <ul class="orange-nav-box-wrapper">
                            <li class="orange-box-text"><a href="/alumni">OVERVIEW</a></li>
                            <li class="orange-box-text"><a href="/alumni/association">ASSOCIATION</a></li>
                            <li class="orange-box-text"><a href="/alumni/organization">ORGANIZATION</a></li>
                            <li class="orange-box-text"><a href="/alumni">CHAPTERS</a></li>
                            <li class="orange-box-text"><a href="/alumni">EVENTS</a></li>
                            <li class="orange-box-text"><a href="/alumni">PROMINENT-ALUMNI</a></li>
                            <li class="orange-box-text"><a class="active" href="/alumni/startups">START-UPS</a></li>
                        </ul>
                        <div class="orange-nav-box-wrapper">
                            <button class="alu-reg-button textbox">REGISTER NOW</button>
                        </div>
                    </div>
                </div>

                <div class="right-section">
                    <div class="white-box-container">
                        <div class="white-box-wrapper">

                            <p class="page-heading textbox">ALUMNI START-UPS</p>
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name of Alumni</th>
                                        <th>Department</th>
                                        <th>Program</th>
                                        <th>Batch</th>
                                        <th>Start-Ups</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ananthu R Pillai</td>
                                        <td>CE</td>
                                        <td>B.Tech</td>
                                        <td>2013-2017</td>
                                        <td>CP Construction</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Emilda Devassykutty</td>
                                        <td>CE</td>
                                        <td>B.Tech</td>
                                        <td>2013-2018</td>
                                        <td>Thrivia Homes and Interiors</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Roshan P Raju</td>
                                        <td>CE</td>
                                        <td>B.Tech</td>
                                        <td>2013-2019</td>
                                        <td>Kanzmuwaileh Plaster and Tiles Contracting LLC</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>SuhailRahiman K A</td>
                                        <td>CE</td>
                                        <td>B.Tech</td>
                                        <td>2014-2018</td>
                                        <td>SR Consultants</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Nihal Pradeep</td>
                                        <td>CSE</td>
                                        <td>B.Tech</td>
                                        <td>2013-2017</td>
                                        <td>Roninaks Ventures Pvt Ltd</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Dipu R</td>
                                        <td>CSE</td>
                                        <td>B.Tech</td>
                                        <td>2016-2010</td>
                                        <td>Picklebowl Interiors</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Adil Abdul Latheef</td>
                                        <td>CSE</td>
                                        <td>B.Tech</td>
                                        <td>2013-2017</td>
                                        <td>Codemazk Solutions</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Hebin N J</td>
                                        <td>CSE</td>
                                        <td>B.Tech</td>
                                        <td>2005-2009</td>
                                        <td>ExtendedGT business solutions pvt ltd</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Akhil Kishore</td>
                                        <td>EEE</td>
                                        <td>B.Tech</td>
                                        <td>2005-2009</td>
                                        <td>Breakthrough Technosystems,Aluva</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Amruthlal V K</td>
                                        <td>ECE</td>
                                        <td>B.Tech</td>
                                        <td>2005-2009</td>
                                        <td>Smart-L Technologies, Aluva</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>



        </div>

        <%- include('../partials/footer') %>


</body>

</html>